Repository iotaledger/iota: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

refactor(indexer): new_executor function and more explicit call to update_watermark
  crates/iota-indexer/src/ingestion/common/orchestration.rs
  crates/iota-indexer/src/ingestion/primary/orchestration.rs
  crates/iota-indexer/src/ingestion/snapshot/orchestration.rs
Due: none

fix(node): Build essentials crates instead of the entire project
  crates/iota-aws-orchestrator/src/orchestrator.rs
Due: none

fix(core): Fix wrong settings example in iota-aws-orchestrator README
  crates/iota-aws-orchestrator/README.md
Due: none

fix(docs): merge style fixes from devx/fix-docs-css
  docs/site/docusaurus.config.js
  docs/site/src/components/Cards/styles.module.css
  docs/site/src/components/ExampleImport/styles.module.css
  docs/site/src/components/FeedbackForm/styles.css
  docs/site/src/css/custom.css
  docs/site/src/css/variable.css
  docs/site/src/pages/index.module.css
Due: none

fix typos
  crates/iota-core/src/unit_tests/congestion_control_tests.rs
Due: none

clippy
  crates/iota-core/src/unit_tests/congestion_control_tests.rs
Due: none

enable bursts of 10 times average load on devnet
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-protocol-config/src/lib.rs
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Mainnet_version_15.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Testnet_version_15.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__version_15.snap
Due: none

Update crates/iota-core/src/authority/consensus_quarantine.rs
  crates/iota-core/src/authority/consensus_quarantine.rs
Due: none

feat: optimize authenticator inputs loading
  crates/iota-core/src/authority.rs
  crates/iota-transactional-test-runner/src/lib.rs
  crates/iota-types/src/transaction.rs
Due: none

feat(dashboard): add cookies disclaimer
  apps/wallet-dashboard/app/globals.css
  apps/wallet-dashboard/components/disclaimer/CookieDisclaimer.css
  apps/wallet-dashboard/components/disclaimer/CookieDisclaimer.tsx
  apps/wallet-dashboard/package.json
  apps/wallet-dashboard/providers/AppProviders.tsx
  pnpm-lock.yaml
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix(explorer): pretter & eslint
  apps/explorer/src/components/disclaimer/CookieDisclaimer.css
  apps/explorer/src/components/disclaimer/CookieDisclaimer.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix(evm-bridge): prettier
  apps/evm-bridge/src/components/disclaimer/CookieDisclaimer.css
Due: prettier --write

fix: update playwright dependency to fix audit
  package.json
  pnpm-lock.yaml
Due: none

refactor: improve the `split_inputs` function implementation
  crates/iota-types/src/transaction.rs
Due: none

feat(dashboard): Remove accidental .prettierignore
  apps/wallet-dashboard/.prettierignore
Due: none

fix(apps): Fix pnpm audit. Bump playwright.
  apps/evm-bridge/package.json
  apps/explorer/package.json
  apps/wallet-dashboard/package.json
  apps/wallet/package.json
  package.json
  pnpm-lock.yaml
Due: none

fixup! fixup! fixup! feat(iota-indexer-streaming): add prometheus metrics
  crates/iota-indexer-streaming/src/memory.rs
  crates/iota-indexer-streaming/src/metrics.rs
Due: none

fix(wallet-dashboard): Allow viewing vesting schedule rewards after last payout is unlocked
  apps/wallet-dashboard/hooks/useGetSupplyIncreaseVestingObjects.ts
  apps/wallet-dashboard/lib/utils/vesting/vesting.spec.ts
  apps/wallet-dashboard/lib/utils/vesting/vesting.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix(core): Copy dashboard json file instead of echo
  crates/iota-aws-orchestrator/assets/cluster-status-dashboard.json
  crates/iota-aws-orchestrator/src/monitor.rs
Due: none

feat(wallet): Side Panel support
  apps/wallet/package.json
  apps/wallet/src/background/permissions.ts
  apps/wallet/src/background/transactions.ts
  apps/wallet/src/manifest/manifest.json
  apps/wallet/src/polyfills/sidepanel.ts
  apps/wallet/src/ui/app/components/menu/content/WalletSettingsMenuList.tsx
  apps/wallet/src/ui/app/hooks/useSidePanel.ts
  apps/wallet/src/ui/app/hooks/useSidePanelMutation.ts
  apps/wallet/src/ui/app/pages/approval-request/index.tsx
  apps/wallet/src/ui/app/pages/site-connect/index.tsx
  apps/wallet/src/ui/app/redux/slices/app/appType.ts
  apps/wallet/src/ui/index.tsx
  apps/wallet/tailwind.config.ts
  pnpm-lock.yaml
  sdk/typescript/src/version.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

refactor: optimize and clarify the methods of SenderSignedData related to inputs
  crates/iota-core/src/authority.rs
  crates/iota-types/src/transaction.rs
Due: none

feat(explorer): Relax filtering of Explorer errors. Forward errors through error boundary.
  apps/explorer/src/components/error-boundary/ErrorBoundary.tsx
  apps/explorer/src/lib/utils/sentry.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix(iota): fix ptb --upgrade command
  crates/iota/src/client_ptb/builder.rs
Due: none

revise names
  crates/starfish/core/src/core.rs
  crates/starfish/core/src/core_thread.rs
  crates/starfish/core/src/leader_timeout.rs
Due: none

change the place of timestamp
  crates/starfish/core/src/core.rs
Due: none

initial change
  crates/starfish/core/src/core.rs
  crates/starfish/core/src/core_thread.rs
  crates/starfish/core/src/leader_timeout.rs
Due: none

all reasons to create block
  crates/starfish/config/src/parameters.rs
  crates/starfish/core/src/core.rs
  crates/starfish/core/src/core_thread.rs
  crates/starfish/core/src/leader_timeout.rs
  crates/starfish/core/src/metrics.rs
Due: none

renames of constant min_block_delay
  crates/starfish/config/src/parameters.rs
  crates/starfish/core/src/authority_service.rs
  crates/starfish/core/src/core.rs
  crates/starfish/core/src/core_thread.rs
  crates/starfish/core/src/leader_timeout.rs
  crates/starfish/core/src/metrics.rs
  crates/starfish/core/src/network/tonic_network.rs
Due: none

update snapshots
  crates/starfish/config/src/parameters.rs
  crates/starfish/config/tests/snapshots/parameters_test__parameters.snap
  crates/starfish/core/src/authority_service.rs
  crates/starfish/core/src/core.rs
  crates/starfish/core/src/core_thread.rs
  crates/starfish/core/src/leader_timeout.rs
  crates/starfish/core/src/shard_reconstructor.rs
  crates/starfish/core/src/synchronizer.rs
  crates/starfish/core/src/transactions_synchronizer.rs
Due: none

fix tests
  crates/starfish/core/src/core.rs
  crates/starfish/core/src/leader_timeout.rs
  crates/starfish/core/src/shard_reconstructor.rs
  crates/starfish/core/src/synchronizer.rs
  crates/starfish/core/src/transactions_synchronizer.rs
Due: none

update comments
  crates/starfish/core/src/core.rs
Due: none

fmt
  crates/starfish/core/src/core.rs
Due: none

fix(wallet): Fix passkeys test
  apps/wallet/tests/passkeys.spec.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

Comment the debt tracking logic
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/authority/consensus_quarantine.rs
Due: none

update openrpc.json
  crates/iota-open-rpc/spec/openrpc.json
Due: none

fix test
  crates/iota-core/src/unit_tests/authority_tests.rs
Due: none

address the comments from review
  crates/starfish/core/src/leader_timeout.rs
Due: none

address the comments from review
  crates/starfish/core/src/core.rs
Due: none

fix gas price feedback test
  crates/iota-core/src/unit_tests/gas_price_feedback_tests.rs
Due: none

fix(dashboard): Try waiting for serviceWorker in tests
  apps/wallet-dashboard/tests/fixtures.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

Path conditions:
  eslint -c ./linting/.eslintrc.precommit.js --fix: any of: {sdk,apps}/**/*.{ts,js,mjs,tsx}
  prettier --write: any of: {sdk,apps}/**/*.{ts,js,mjs,tsx,scss,css}
