Repository iotaledger/iota: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

.lintstagedrc.json:

{
    "{sdk,apps}/**/*.{ts,js,mjs,tsx}": "eslint -c ./linting/.eslintrc.precommit.js --fix",
    "{sdk,apps}/**/*.{ts,js,mjs,tsx,scss,css}": "prettier --write"
}

fixup! refactor(iota-data-ingestion-core): simpler implementation for the reader::v2
  crates/iota-data-ingestion-core/src/reader/v2.rs
Due: none

fix(explorer): Correct formatting over 9 decimals
  apps/core/src/utils/formatAmount.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

minor style fixes
  apps/wallet/src/ui/app/pages/accounts/manage/accounts-finder/AccountsFinderView.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

update migration and vesting popups content
  apps/wallet/src/ui/app/pages/home/tokens/MigrationDialog.tsx
  apps/wallet/src/ui/app/pages/home/tokens/SupplyIncreaseVestingStakingDialog.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fmt
  apps/wallet/src/ui/app/pages/home/tokens/MigrationDialog.tsx
  apps/wallet/src/ui/app/pages/home/tokens/SupplyIncreaseVestingStakingDialog.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

Update groth16.mdx
  docs/content/developer/cryptography/on-chain/groth16.mdx
Due: none

Rename goth16.move to groth16.move
  docs/examples/move/cryptography/sources/groth16.move
Due: none

fix: remove duplicated code
  sdk/typescript/src/utils/format.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

Update docs/site/static/json/about-iota/iota-architecture/consensus.json
  docs/site/static/json/about-iota/iota-architecture/consensus.json
Due: none

chore: remove unused dependency with `cargo machete`
  Cargo.lock
  crates/iota-data-ingestion/Cargo.toml
  crates/iota-package-resolver/Cargo.toml
  crates/iota-proxy/Cargo.toml
  crates/iota-storage/Cargo.toml
  iota-execution/Cargo.toml
  iota-execution/latest/iota-adapter/Cargo.toml
  iota-execution/latest/iota-verifier/Cargo.toml
Due: none

another batch
  Cargo.lock
  crates/iota-authority-aggregation/Cargo.toml
  crates/iota-json-rpc-types/Cargo.toml
  crates/iota-light-client/Cargo.toml
  crates/iota-package-management/Cargo.toml
  crates/iota-sdk/Cargo.toml
  crates/iota-types/Cargo.toml
Due: none

Update developer.js
  docs/content/sidebars/developer.js
Due: none

another batch
  Cargo.lock
  crates/iota-faucet/Cargo.toml
  crates/iota-framework/Cargo.toml
  crates/iota-keys/Cargo.toml
  crates/iota-rosetta/Cargo.toml
Due: none

chore: temporarily ignore flaky `test_full_node_sync_flood_determinism`
  crates/iota-e2e-tests/tests/full_node_tests.rs
Due: none

feat(apps-ui-kit): applychanges to some components
  apps/ui-kit/src/lib/components/atoms/button/button.classes.ts
  apps/ui-kit/src/lib/components/atoms/checkbox/Checkbox.tsx
  apps/ui-kit/src/lib/styles/components.css
  apps/ui-kit/src/lib/styles/index.css
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

another batch
  Cargo.lock
  crates/iota-core/Cargo.toml
  crates/iota-core/src/transaction_manager.rs
  crates/iota-graphql-rpc-client/Cargo.toml
  crates/iota-swarm-config/Cargo.toml
Due: none

upstream(node): Reduce max transactions per block in simtests
  crates/iota-protocol-config/src/lib.rs
Due: none

wait for a quorum of replies
  consensus/core/src/authority_node.rs
  consensus/core/src/synchronizer.rs
Due: none

upstream(node): Add nodes with unpruned history in simtest
  crates/iota-benchmark/tests/simtest.rs
Due: none

keep track of peers who already responded
  consensus/core/src/authority_service.rs
  consensus/core/src/synchronizer.rs
Due: none

feat(apps-ui-kit): enhance button and input styles with new color variables
  apps/ui-kit/src/lib/components/atoms/button/button-variants/ButtonPill.tsx
  apps/ui-kit/src/lib/components/atoms/info-box/InfoBox.tsx
  apps/ui-kit/src/lib/components/molecules/input/input.classes.ts
  apps/ui-kit/src/lib/styles/components.css
  apps/ui-kit/src/lib/styles/index.css
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix(apps-ui-kit): update input caret color variable
  apps/ui-kit/src/lib/styles/components.css
  apps/ui-kit/src/lib/styles/index.css
Due: prettier --write

feat(apps-ui-kit): review apps and fix missing styles (#7376)
  apps/core/src/components/transaction/TransactionIcon.tsx
  apps/ui-kit/.storybook/preview-head.html
  apps/ui-kit/.storybook/preview.tsx
  apps/ui-kit/src/lib/components/atoms/badge/badge.classes.ts
  apps/ui-kit/src/lib/components/atoms/divider/divider.classes.ts
  apps/ui-kit/src/lib/components/atoms/key-value-info/KeyValueInfo.tsx
  apps/ui-kit/src/lib/components/atoms/radio-button/RadioButton.tsx
  apps/ui-kit/src/lib/components/atoms/tooltip/Tooltip.tsx
  apps/ui-kit/src/lib/components/molecules/input/input.classes.ts
  apps/ui-kit/src/lib/components/molecules/navbar-item/navbarItem.classes.ts
  apps/ui-kit/src/lib/components/molecules/search/Search.tsx
  apps/ui-kit/src/lib/components/molecules/search/search.classes.ts
  apps/ui-kit/src/lib/components/molecules/table-cell/TableCell.tsx
  apps/ui-kit/src/lib/components/molecules/table-header-cell/TableHeaderCell.tsx
  apps/ui-kit/src/lib/components/molecules/title/Title.tsx
  apps/ui-kit/src/lib/components/organisms/accordion/Accordion.tsx
  apps/ui-kit/src/lib/styles/base.css
  apps/ui-kit/src/lib/styles/components.css
  apps/ui-kit/src/lib/styles/fonts.css
  apps/ui-kit/src/lib/styles/index.css
  apps/ui-kit/src/storybook/stories/molecules/TableCell.stories.tsx
  apps/wallet/src/ui/app/components/menu/content/ThemeSettings.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

update gold-avocados-report.md
  .changeset/gold-avocados-report.md
Due: none

feat(account_abstraction): implement full multisig smart account withdrawal with on-chain validation
  Cargo.lock
  Cargo.toml
  account_abstraction/aa_move/.gitignore
  account_abstraction/aa_move/Move.toml
  account_abstraction/aa_move/README.md
  account_abstraction/aa_move/sources/account_abstraction.move
  account_abstraction/aa_move/sources/tx_flow.move
  account_abstraction/aa_move/tests/account_abstraction_tests.move
  account_abstraction/aa_rust_sdk_flow/Cargo.toml
  account_abstraction/aa_rust_sdk_flow/src/faucet.rs
  account_abstraction/aa_rust_sdk_flow/src/main.rs
  account_abstraction/aa_rust_sdk_flow/src/sig_utils.rs
  account_abstraction/aa_rust_sdk_flow/src/signed_tx.rs
  account_abstraction/aa_rust_sdk_flow/src/smart_account.rs
  account_abstraction/aa_rust_sdk_flow/src/tx_flow.rs
  account_abstraction/aa_rust_sdk_flow/src/utils.rs
  crates/iota/src/client_commands.rs
Due: none

drop proposing blocks when the stake of subscriptions below stake
  consensus/core/src/authority_service.rs
  consensus/core/src/core_thread.rs
  consensus/core/src/leader_timeout.rs
  consensus/core/src/round_prober.rs
Due: none

fix test
  consensus/core/src/core.rs
  consensus/core/src/core_thread.rs
  consensus/core/src/synchronizer.rs
Due: none

cargo fmt
  consensus/core/src/authority_node.rs
  consensus/core/src/authority_service.rs
  consensus/core/src/core.rs
  consensus/core/src/synchronizer.rs
Due: none

refactor: Introduce `TransactionFilterV2::as_v1()`; add missing `non_exhaustive` to `TransactionFilterV2`
  crates/iota-indexer/src/indexer_reader.rs
  crates/iota-json-rpc-types/src/iota_transaction.rs
Due: none

refactor: Refactor `TxIndexExt`
  crates/iota-indexer/src/handlers/checkpoint_handler.rs
  crates/iota-indexer/src/handlers/committer.rs
  crates/iota-indexer/src/handlers/mod.rs
  crates/iota-indexer/src/models/tx_indices.rs
  crates/iota-indexer/src/store/indexer_store.rs
  crates/iota-indexer/src/store/pg_indexer_store.rs
  crates/iota-indexer/src/types.rs
Due: none

[WIP] fix(indexer, json-rpc): Fix get total supply endpoint of coin api
  crates/iota-indexer/src/indexer_reader.rs
  crates/iota-indexer/tests/rpc-tests/coin_api.rs
Due: none

refactor: Refactor `get_total_supply` endpoints
  crates/iota-indexer/src/indexer_reader.rs
  crates/iota-json-rpc/src/coin_api.rs
Due: none

update content
  apps/wallet/src/ui/app/components/accounts/OffBalanceAddressesInfo.tsx
  apps/wallet/src/ui/app/components/accounts/index.ts
  apps/wallet/src/ui/app/pages/accounts/manage/accounts-finder/AccountsFinderView.tsx
  apps/wallet/src/ui/app/pages/home/tokens/MigrationDialog.tsx
  apps/wallet/src/ui/app/pages/home/tokens/MissingFundsDialog.tsx
  apps/wallet/src/ui/app/pages/home/tokens/SupplyIncreaseVestingStakingDialog.tsx
  apps/wallet/src/ui/app/pages/home/tokens/TokensDetails.tsx
  apps/wallet/src/ui/assets/images/missing_funds.png
  apps/wallet/src/ui/assets/images/missing_funds_darkmode.png
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(apps-ui-kit): add iota-names color palette and typography (#7331)
  apps/ui-kit/package.json
  apps/ui-kit/src/lib/constants/colors.constants.ts
  apps/ui-kit/src/lib/styles/base.css
  apps/ui-kit/src/lib/styles/fonts.css
  apps/ui-kit/src/lib/styles/index.css
  apps/ui-kit/src/lib/tailwind/base.presets.ts
  apps/ui-kit/src/lib/tailwind/constants/fontFamily.constants.ts
  apps/ui-kit/src/lib/tailwind/constants/fontSizes.constants.ts
  apps/ui-kit/src/storybook/stories/design-tokens/colors.stories.mdx
  apps/wallet/src/ui/app/components/accounts/RecoverAccountsGroup.tsx
  pnpm-lock.yaml
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

refactor(apps-ui-kit): update atoms to apply new palettes (Badge-LabelText) (#7355)
  apps/ui-kit/.storybook/main.ts
  apps/ui-kit/.storybook/preview.tsx
  apps/ui-kit/src/lib/components/atoms/badge/badge.classes.ts
  apps/ui-kit/src/lib/components/atoms/badge/badge.enums.ts
  apps/ui-kit/src/lib/components/atoms/button-segment/buttonSegment.classes.ts
  apps/ui-kit/src/lib/components/atoms/button/button.classes.ts
  apps/ui-kit/src/lib/components/atoms/checkbox/Checkbox.tsx
  apps/ui-kit/src/lib/components/atoms/header/Header.tsx
  apps/ui-kit/src/lib/components/atoms/info-box/InfoBox.tsx
  apps/ui-kit/src/lib/components/atoms/info-box/infoBox.classes.ts
  apps/ui-kit/src/lib/components/atoms/key-value-info/KeyValueInfo.tsx
  apps/ui-kit/src/lib/components/atoms/label-text/LabelText.tsx
  apps/ui-kit/src/lib/components/atoms/snackbar/snackbar.classes.ts
  apps/ui-kit/src/lib/styles/components.css
  apps/ui-kit/src/lib/styles/index.css
  apps/ui-kit/src/lib/tailwind/constants/customColors.constants.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(apps-ui-kit): update atoms to apply new palettes (`LisItem` - `VisualAssetCard`) (#7349)
  apps/ui-kit/src/lib/components/atoms/list-item/ListItem.tsx
  apps/ui-kit/src/lib/components/atoms/loading-indicator/LoadingIndicator.tsx
  apps/ui-kit/src/lib/components/atoms/panel/Panel.tsx
  apps/ui-kit/src/lib/components/atoms/radio-button/RadioButton.tsx
  apps/ui-kit/src/lib/components/atoms/secondary-text/SecondaryText.tsx
  apps/ui-kit/src/lib/components/atoms/skeleton/Skeleton.tsx
  apps/ui-kit/src/lib/components/atoms/toggle/toggle.classes.ts
  apps/ui-kit/src/lib/components/atoms/tooltip/Tooltip.tsx
  apps/ui-kit/src/lib/components/molecules/visual-asset-card/VisualAssetCard.tsx
  apps/ui-kit/src/lib/styles/components.css
  apps/ui-kit/src/lib/styles/index.css
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(apps-ui-kit): update storybook after multi-theme (#7377)
  apps/ui-kit/src/lib/styles/index.css
  apps/ui-kit/src/lib/tailwind/base.presets.ts
  apps/ui-kit/src/lib/tailwind/plugins.ts
  apps/ui-kit/src/storybook/stories/atoms/Skeleton.stories.tsx
  apps/ui-kit/src/storybook/stories/atoms/Tooltip.stories.tsx
  apps/ui-kit/src/storybook/stories/molecules/Account.stories.tsx
  apps/ui-kit/src/storybook/stories/molecules/Search.stories.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(apps-ui-kit): update molecules to apply new palettes (#7354)
  apps/ui-kit/src/lib/components/molecules/account/Account.tsx
  apps/ui-kit/src/lib/components/molecules/address/Address.tsx
  apps/ui-kit/src/lib/components/molecules/card/CardAction.tsx
  apps/ui-kit/src/lib/components/molecules/card/CardBody.tsx
  apps/ui-kit/src/lib/components/molecules/card/card.classes.ts
  apps/ui-kit/src/lib/components/molecules/chip/chip.classes.ts
  apps/ui-kit/src/lib/components/molecules/display-stats/DisplayStats.tsx
  apps/ui-kit/src/lib/components/molecules/display-stats/displayStats.classes.ts
  apps/ui-kit/src/lib/components/molecules/dropdown/Dropdown.tsx
  apps/ui-kit/src/lib/components/molecules/input/Input.tsx
  apps/ui-kit/src/lib/components/molecules/input/TextArea.tsx
  apps/ui-kit/src/lib/components/molecules/input/input.classes.ts
  apps/ui-kit/src/lib/components/molecules/navbar-item/navbarItem.classes.ts
  apps/ui-kit/src/lib/components/molecules/search/Search.tsx
  apps/ui-kit/src/lib/components/molecules/search/search.classes.ts
  apps/ui-kit/src/lib/components/molecules/segmented-button/segmentedButton.classes.ts
  apps/ui-kit/src/lib/components/molecules/select/Select.tsx
  apps/ui-kit/src/lib/components/molecules/table-cell/TableCell.tsx
  apps/ui-kit/src/lib/components/molecules/table-header-cell/TableHeaderCell.tsx
  apps/ui-kit/src/lib/components/molecules/title/Title.tsx
  apps/ui-kit/src/lib/styles/components.css
  apps/ui-kit/src/lib/styles/index.css
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write
