Repository iotaledger/iota: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

Do not increase committee size to 80
  crates/iota-protocol-config/src/lib.rs
Due: none

Update snapshot files
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Mainnet_version_9.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Testnet_version_9.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__version_9.snap
Due: none

add setter for testing for smart ancestor selection feature
  consensus/core/src/core.rs
  crates/iota-protocol-config/src/lib.rs
Due: none

fix(apps-ui-kit): adjust styles for disabled state and improve label
  apps/ui-kit/src/lib/components/atoms/radio-button/RadioButton.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

chore: start implementing the calculations
  crates/iota-core/src/authority/suggested_gas_price_calculator.rs
Due: none

fix(iota-indexer): Introduce `IndexerStoreExt` trait
  crates/iota-indexer/src/handlers/checkpoint_handler.rs
  crates/iota-indexer/src/handlers/committer.rs
  crates/iota-indexer/src/handlers/mod.rs
  crates/iota-indexer/src/models/tx_indices.rs
  crates/iota-indexer/src/store/indexer_store.rs
  crates/iota-indexer/src/store/pg_indexer_store.rs
  crates/iota-indexer/src/types.rs
  crates/iota-types/src/effects/mod.rs
Due: none

docs(node): Add firewall port snippet to SSFN guide
  docs/content/operator/ssfn_guide.mdx
Due: none

Introduce OptimisticWriteApi
  crates/iota-indexer/src/apis/mod.rs
  crates/iota-indexer/src/apis/write_api.rs
  crates/iota-indexer/src/indexer.rs
  crates/iota-indexer/src/lib.rs
Due: none

Enable optimistic indexing for every request
  crates/iota-indexer/src/apis/write_api.rs
Due: none

Remove remark about rust-sdk type
  crates/iota-indexer/src/apis/write_api.rs
Due: none

Check for empty in/out objs
  crates/iota-indexer/src/apis/write_api.rs
Due: none

chore(iota): add missing newline to `iota name auction bid` output
  crates/iota/src/name_commands.rs
Due: none

fix: tests, generate snaps for v10
  crates/iota-core/src/unit_tests/authority_tests.rs
  crates/iota-core/src/unit_tests/congestion_control_tests.rs
  crates/iota-protocol-config/src/lib.rs
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Mainnet_version_10.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Testnet_version_10.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__version_10.snap
Due: none

feat(apps-ui-kit): add some color variables to componets
  apps/ui-kit/src/lib/styles/index.css
Due: prettier --write

fix: generate-json-rpc-spec test
  crates/iota-open-rpc/spec/openrpc.json
Due: none

cleaned up
  sdk/graphql-transport/src/transport.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix: fix iota-protocol-config snapshots tests
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Mainnet_version_10.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Testnet_version_10.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__version_10.snap
Due: none

chore: Update changeset
  .changeset/two-months-deliver.md
Due: none

fix(ci): remove external crates variables from the `rust-simtests` job
  .github/workflows/_rust_tests.yml
Due: none

fix: iota-swarm-config::snapshot_tests
  crates/iota-graphql-rpc/schema.graphql
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__genesis_config_snapshot_matches.snap
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
  crates/iota-types/tests/staged/exec_failure_status.yaml
Due: none

fix navbar item classes
  apps/ui-kit/src/lib/components/molecules/navbar-item/navbarItem.classes.ts
  apps/ui-kit/src/lib/styles/components.css
  apps/ui-kit/src/lib/styles/index.css
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

Extract optimistic indexing code to separate module for better reusability
  crates/iota-indexer/src/apis/write_api.rs
  crates/iota-indexer/src/lib.rs
  crates/iota-indexer/src/optimistic_indexing.rs
Due: none

Feat(Docs): Restructure docs:- created users moved wallet
  docs/content/users/iota-wallet-dashboard/getting-started.mdx
  docs/content/users/iota-wallet-dashboard/how-to/assets.mdx
  docs/content/users/iota-wallet-dashboard/how-to/basics.mdx
  docs/content/users/iota-wallet-dashboard/how-to/migration.mdx
  docs/content/users/iota-wallet-dashboard/how-to/stake.mdx
  docs/content/users/iota-wallet-dashboard/how-to/vesting.mdx
  docs/content/users/iota-wallet/FAQ.mdx
  docs/content/users/iota-wallet/getting-started.mdx
  docs/content/users/iota-wallet/how-to/basics.mdx
  docs/content/users/iota-wallet/how-to/get-test-tokens.mdx
  docs/content/users/iota-wallet/how-to/import.mdx
  docs/content/users/iota-wallet/how-to/import/balance-finder.mdx
  docs/content/users/iota-wallet/how-to/import/ledger.mdx
  docs/content/users/iota-wallet/how-to/import/legacy.mdx
  docs/content/users/iota-wallet/how-to/import/migration.mdx
  docs/content/users/iota-wallet/how-to/import/mnemonic.mdx
  docs/content/users/iota-wallet/how-to/import/seed.mdx
  docs/content/users/iota-wallet/how-to/multi-account.mdx
  docs/content/users/iota-wallet/how-to/stake.mdx
  docs/site/sidebars.js
Due: none

refactor(iota-data-ingestion-core): separate reader & executor into v1 modules
  crates/iota-data-ingestion-core/src/executor/mod.rs
  crates/iota-data-ingestion-core/src/executor/v1.rs
  crates/iota-data-ingestion-core/src/lib.rs
  crates/iota-data-ingestion-core/src/reader/fetch.rs
  crates/iota-data-ingestion-core/src/reader/mod.rs
  crates/iota-data-ingestion-core/src/reader/v1.rs
Due: none

fix(iota-data-ingestion-core): fix flaky tests
  crates/iota-data-ingestion-core/src/tests.rs
Due: none

refactor: Introduce `TransactionFilterV2`
  crates/iota-indexer/src/apis/extended_api.rs
  crates/iota-indexer/src/indexer_reader.rs
  crates/iota-indexer/tests/rpc-tests/read_api.rs
  crates/iota-json-rpc-api/src/extended.rs
  crates/iota-json-rpc-types/src/iota_transaction.rs
  crates/iota-open-rpc/spec/openrpc.json
Due: none

fix(docs): fix broken anchors
  docs/content/developer/iota-101/create-coin/create-coin.mdx
  docs/content/developer/iota-101/create-coin/loyalty.mdx
  docs/content/developer/iota-101/create-coin/migrate-to-coin-manager.mdx
  docs/content/developer/iota-101/create-coin/regulated.mdx
  docs/content/developer/iota-101/move-overview/package-upgrades/custom-policies.mdx
  docs/content/developer/iota-101/move-overview/patterns/capabilities.mdx
  docs/content/developer/iota-101/objects/dynamic-fields/tables-bags.mdx
  docs/content/developer/iota-101/transactions/ptb/programmable-transaction-blocks.mdx
  docs/content/developer/standards/closed-loop-token/tutorial.mdx
  docs/content/developer/stardust/claiming.mdx
  docs/content/developer/stardust/claiming/basic.mdx
  docs/content/developer/stardust/claiming/foundry.mdx
  docs/content/developer/stardust/claiming/nft.mdx
  docs/content/developer/stardust/migration-process.mdx
  docs/content/developer/stardust/move-models.mdx
  docs/content/references/cli/ptb.mdx
  docs/content/sidebars/references.js
Due: none

refactor(apps-ui-kit): fix search component styles, add divider color variables, and update Storybook backgrounds
  apps/ui-kit/.storybook/preview-head.html
  apps/ui-kit/.storybook/preview.tsx
  apps/ui-kit/src/lib/components/atoms/divider/divider.classes.ts
  apps/ui-kit/src/lib/components/molecules/search/Search.tsx
  apps/ui-kit/src/lib/components/molecules/search/search.classes.ts
  apps/ui-kit/src/lib/styles/components.css
  apps/ui-kit/src/lib/styles/index.css
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

refactor(iota-data-ingestion-core): introduce reader & executor v2
  crates/iota-data-ingestion-core/src/executor/mod.rs
  crates/iota-data-ingestion-core/src/executor/v2.rs
  crates/iota-data-ingestion-core/src/lib.rs
  crates/iota-data-ingestion-core/src/reader/mod.rs
  crates/iota-data-ingestion-core/src/reader/v2.rs
Due: none

feat(ci): Add evm-bridge e2e tests to CI
  .github/workflows/_e2e.yml
  .github/workflows/turbo_hierarchy.yml
  apps/evm-bridge/package.json
  apps/evm-bridge/src/vite-env.d.ts
  apps/evm-bridge/tests/utils/fixtures.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(ci): Add prod and testnet deploy workflows
  .github/workflows/apps_evm-bridge_prod_deploy.yml
  .github/workflows/apps_evm-bridge_testnet_deploy.yml
Due: none

feat(apps-ui-kit): add some color names variables
  apps/ui-kit/src/lib/styles/index.css
Due: prettier --write

chore: fix manypkg
  apps/evm-bridge/package.json
  sdk/isc-sdk/package.json
Due: none

chore: pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: dprint-format
  .github/workflows/apps_evm-bridge_prod_deploy.yml
  .github/workflows/apps_evm-bridge_testnet_deploy.yml
Due: none

chore: typos
  apps/evm-bridge/src/components/deposit/layer2/DepositLayer2.tsx
  apps/evm-bridge/tests/sendMaxAmount.spec.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(apps-ui-kit): update search and table cell styles with new color variables
  apps/ui-kit/src/lib/components/molecules/search/Search.tsx
  apps/ui-kit/src/lib/components/molecules/table-cell/TableCell.tsx
  apps/ui-kit/src/lib/styles/components.css
  apps/ui-kit/src/lib/styles/index.css
  apps/ui-kit/src/storybook/stories/molecules/TableCell.stories.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

chore: Make isc-sdk use build-scripts. Fix lint and prettier issues.
  apps/evm-bridge/eslint.config.mjs
  apps/evm-bridge/package.json
  apps/evm-bridge/src/hooks/useBuildL1DepositTransaction.ts
  apps/evm-bridge/src/hooks/useGasEstimateL2.ts
  pnpm-lock.yaml
  sdk/isc-sdk/eslint.config.js
  sdk/isc-sdk/package.json
  sdk/isc-sdk/src/api/EvmRpcClient.ts
  sdk/isc-sdk/src/api/index.ts
  sdk/isc-sdk/src/enums/index.ts
  sdk/isc-sdk/src/index.ts
  sdk/isc-sdk/src/isc.ts
  sdk/isc-sdk/src/transaction.ts
  sdk/isc-sdk/src/types/index.ts
  sdk/isc-sdk/src/utils/index.ts
  sdk/isc-sdk/tsconfig.esm.json
  sdk/isc-sdk/tsconfig.json
  sdk/isc-sdk/tsconfig.node.json
  sdk/isc-sdk/vite.config.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix(docs): removed redundant wallet docs from about iota
  docs/content/about-iota/iota-wallet-dashboard/getting-started.mdx
  docs/content/about-iota/iota-wallet-dashboard/how-to/assets.mdx
  docs/content/about-iota/iota-wallet-dashboard/how-to/basics.mdx
  docs/content/about-iota/iota-wallet-dashboard/how-to/migration.mdx
  docs/content/about-iota/iota-wallet-dashboard/how-to/stake.mdx
  docs/content/about-iota/iota-wallet-dashboard/how-to/vesting.mdx
  docs/content/about-iota/iota-wallet/FAQ.mdx
  docs/content/about-iota/iota-wallet/getting-started.mdx
  docs/content/about-iota/iota-wallet/how-to/basics.mdx
  docs/content/about-iota/iota-wallet/how-to/get-test-tokens.mdx
  docs/content/about-iota/iota-wallet/how-to/import.mdx
  docs/content/about-iota/iota-wallet/how-to/import/balance-finder.mdx
  docs/content/about-iota/iota-wallet/how-to/import/ledger.mdx
  docs/content/about-iota/iota-wallet/how-to/import/legacy.mdx
  docs/content/about-iota/iota-wallet/how-to/import/migration.mdx
  docs/content/about-iota/iota-wallet/how-to/import/mnemonic.mdx
  docs/content/about-iota/iota-wallet/how-to/import/seed.mdx
  docs/content/about-iota/iota-wallet/how-to/multi-account.mdx
  docs/content/about-iota/iota-wallet/how-to/stake.mdx
Due: none

Path conditions:
  eslint -c ./linting/.eslintrc.precommit.js --fix: any of: {sdk,apps}/**/*.{ts,js,mjs,tsx}
  prettier --write: any of: {sdk,apps}/**/*.{ts,js,mjs,tsx,scss,css}
