Repository iotaledger/iota: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(iota-transaction-builder): add more doc comments (#4172)
  crates/iota-transaction-builder/src/lib.rs
Due: none

remove wasm content
  docs/content/developer/iota-identity/explanations/decentralized-identifiers.mdx
  docs/content/developer/iota-identity/getting-started/wasm.mdx
  docs/content/developer/iota-identity/how-tos/decentralized-identifiers/create.mdx
  docs/content/developer/iota-identity/how-tos/decentralized-identifiers/delete.mdx
  docs/content/developer/iota-identity/how-tos/decentralized-identifiers/resolve.mdx
  docs/content/developer/iota-identity/how-tos/decentralized-identifiers/update.mdx
  docs/content/developer/iota-identity/how-tos/domain-linkage/create-and-verify.mdx
  docs/content/developer/iota-identity/how-tos/key-storage.mdx
  docs/content/developer/iota-identity/how-tos/verifiable-credentials/create.mdx
  docs/content/developer/iota-identity/how-tos/verifiable-credentials/revocation.mdx
  docs/content/developer/iota-identity/how-tos/verifiable-credentials/selective-disclosure.mdx
  docs/content/developer/iota-identity/how-tos/verifiable-credentials/zero-knowledge-selective-disclosure.mdx
  docs/content/developer/iota-identity/how-tos/verifiable-presentations/create-and-validate.mdx
Due: none

Revert "remove wasm content"
  docs/content/developer/iota-identity/explanations/decentralized-identifiers.mdx
  docs/content/developer/iota-identity/getting-started/wasm.mdx
  docs/content/developer/iota-identity/how-tos/decentralized-identifiers/create.mdx
  docs/content/developer/iota-identity/how-tos/decentralized-identifiers/delete.mdx
  docs/content/developer/iota-identity/how-tos/decentralized-identifiers/resolve.mdx
  docs/content/developer/iota-identity/how-tos/decentralized-identifiers/update.mdx
  docs/content/developer/iota-identity/how-tos/domain-linkage/create-and-verify.mdx
  docs/content/developer/iota-identity/how-tos/key-storage.mdx
  docs/content/developer/iota-identity/how-tos/verifiable-credentials/create.mdx
  docs/content/developer/iota-identity/how-tos/verifiable-credentials/revocation.mdx
  docs/content/developer/iota-identity/how-tos/verifiable-credentials/selective-disclosure.mdx
  docs/content/developer/iota-identity/how-tos/verifiable-credentials/zero-knowledge-selective-disclosure.mdx
  docs/content/developer/iota-identity/how-tos/verifiable-presentations/create-and-validate.mdx
Due: none

review
  scripts/simtest/clippy.sh
Due: none

minor spelling fixes
  docs/content/developer/iota-identity/explanations/about-identity-objects.mdx
Due: none

fix descriptions and quizzes
  docs/content/operator/iota-full-node/docker.mdx
  docs/content/operator/iota-full-node/monitoring-and-pruning.mdx
  docs/content/operator/iota-full-node/overview.mdx
  docs/content/operator/iota-full-node/source.mdx
  docs/site/static/json/node-operators/iota-full-node/node-setup.json
  docs/site/static/json/node-operators/iota-full-node/overview.json
  docs/site/static/json/node-operators/iota-full-node/pruning.json
Due: none

update contribution links
  docs/content/developer/iota-identity/contribute.mdx
Due: none

fix route
  docs/content/operator/iota-full-node/monitoring-and-pruning.mdx
Due: none

reworked introduction
  docs/content/developer/iota-identity/welcome.mdx
Due: none

refactor(wallet, dashboard): remove isPayAllIota from FormValues
  apps/core/src/components/Inputs/SendTokenFormInput.tsx
  apps/core/src/forms/token.ts
  apps/wallet-dashboard/components/Dialogs/SendToken/interfaces/index.ts
  apps/wallet-dashboard/components/Dialogs/SendToken/views/EnterValuesFormView.tsx
  apps/wallet/src/ui/app/pages/home/transfer-coin/PreviewTransfer.tsx
  apps/wallet/src/ui/app/pages/home/transfer-coin/SendTokenForm.tsx
  apps/wallet/src/ui/app/pages/home/transfer-coin/index.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix: use supporting label to show correct gas label
  apps/core/src/components/Inputs/SendTokenFormInput.tsx
  apps/wallet/src/ui/app/pages/home/transfer-coin/PreviewTransfer.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix: add missing isPayALlIota indicator
  apps/wallet-dashboard/components/Dialogs/SendToken/SendTokenDialog.tsx
  apps/wallet-dashboard/components/Dialogs/SendToken/constants/index.ts
  apps/wallet-dashboard/components/Dialogs/SendToken/views/ReviewValuesFormView.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(wallet-dashboard): Add migration PTB (#3908)
  apps/core/src/constants/migration.constants.ts
  apps/core/src/utils/index.ts
  apps/core/src/utils/migration/createMigrationTransaction.ts
  apps/core/src/utils/migration/index.ts
  apps/core/src/utils/migration/types.ts
  apps/wallet-dashboard/components/Popup/Popups/MigratePopup.tsx
  apps/wallet-dashboard/hooks/useMigrationTransaction.ts
  apps/wallet-dashboard/lib/interfaces/index.ts
  apps/wallet-dashboard/lib/interfaces/migration.interface.ts
  apps/wallet-dashboard/lib/utils/migration.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(move/examples/nft_marketplace): update buy function with royalties rule
  docs/examples/move/nft_marketplace/sources/nft_marketplace.move
Due: none

feat(examples/move/nft_marketplace): highlighted the rental extension separately from the marketplace extension and added some mock items for marketplace operations
  docs/examples/move/nft_marketplace/sources/item_for_market.move
  docs/examples/move/nft_marketplace/sources/nft_marketplace.move
  docs/examples/move/nft_marketplace/sources/rental_extension.move
Due: none

Update README.md
  apps/explorer/README.md
Due: none

fmt
  .github/workflows/apps_wallet_prod_build.yml
Due: none

fix: remove useMemo
  apps/wallet-dashboard/app/(protected)/assets/page.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat: polish ledger dialog
  apps/wallet/src/ui/app/components/ledger/ConnectLedgerModal.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix overflow
  apps/wallet/src/ui/app/pages/accounts/manage/AccountGroup.tsx
  apps/wallet/src/ui/app/pages/accounts/manage/AccountGroupItem.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix format
  apps/wallet/src/ui/styles/global.scss
Due: prettier --write

fix(rest-api): Return InternalServerError if failed in append_info_headers
  crates/iota-rest-api/src/response.rs
Due: none

fix overlay
  apps/ui-kit/src/lib/components/organisms/dialog/Dialog.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

chores: Format codes
  crates/iota-rest-api/src/response.rs
Due: none

fix: avoid parsing an unformatted value
  apps/wallet-dashboard/components/Dialogs/SendToken/views/EnterValuesFormView.tsx
  apps/wallet/src/ui/app/pages/home/transfer-coin/SendTokenForm.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix: lint
  apps/core/src/hooks/stake/useStakeTxnInfo.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

readme updated
  docs/examples/move/nft_marketplace/README.md
Due: none

refactor: remove theme context from explorer
  apps/explorer/src/components/ThemeProvider.tsx
  apps/explorer/src/components/header/ThemeSwitcher.tsx
  apps/explorer/src/components/index.ts
  apps/explorer/src/components/layout/Layout.tsx
  apps/explorer/src/contexts/index.ts
  apps/explorer/src/contexts/themeContext.ts
  apps/explorer/src/hooks/index.ts
  apps/explorer/src/hooks/useTheme.ts
  apps/explorer/src/lib/ui/enums/index.ts
  apps/explorer/src/lib/ui/enums/theme.enums.ts
  apps/explorer/src/lib/ui/index.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(explorer): reduce space of owned objects if there isn't many
  apps/explorer/src/components/owned-objects/OwnedObjects.tsx
  apps/explorer/src/lib/ui/enums/index.ts
  apps/explorer/src/lib/ui/enums/ownedObjects.enums.ts
  apps/explorer/src/pages/address-result/AddressResult.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

refactor: improve props
  apps/wallet-dashboard/components/Dialogs/Staking/views/FinishStaking.tsx
  apps/wallet-dashboard/components/Dialogs/Staking/views/StakingRewardDetails.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix: remove unnecessary backdrop-blur
  apps/ui-kit/src/lib/components/molecules/search/Search.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

Revert "refactor(iota-core): Remove deprecated `AuthorityPerpetualTables`/`AuthorityStore` related code (#3829)"
  crates/iota-core/src/authority.rs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/authority/authority_store.rs
  crates/iota-core/src/authority/authority_store_pruner.rs
  crates/iota-core/src/authority/authority_store_tables.rs
  crates/iota-core/src/checkpoints/checkpoint_executor/mod.rs
  crates/iota-core/src/execution_cache.rs
  crates/iota-core/src/execution_cache/passthrough_cache.rs
  crates/iota-core/src/execution_cache/proxy_cache.rs
  crates/iota-core/src/execution_cache/writeback_cache.rs
  crates/iota-json-rpc/src/authority_state.rs
  crates/iota-json-rpc/src/coin_api.rs
  crates/iota-json-rpc/src/read_api.rs
  crates/iota-storage/src/http_key_value_store.rs
  crates/iota-storage/src/key_value_store.rs
  crates/iota-storage/tests/key_value_tests.rs
  crates/iota-tool/src/db_tool/mod.rs
Due: none

fix(iota-core): cleanup/rename stuff still in use but marked as deprecated after previous revert
  crates/iota-core/src/authority.rs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/authority/authority_store.rs
  crates/iota-core/src/authority/authority_store_tables.rs
  crates/iota-core/src/checkpoints/checkpoint_executor/mod.rs
  crates/iota-core/src/execution_cache.rs
  crates/iota-core/src/execution_cache/proxy_cache.rs
  crates/iota-json-rpc/src/authority_state.rs
  crates/iota-json-rpc/src/coin_api.rs
  crates/iota-json-rpc/src/read_api.rs
  crates/iota-storage/src/http_key_value_store.rs
  crates/iota-storage/src/key_value_store.rs
  crates/iota-storage/tests/key_value_tests.rs
Due: none

Fmt
  crates/iota-core/src/execution_cache/proxy_cache.rs
  crates/iota-storage/src/key_value_store.rs
Due: none

Add get_transaction_checkpoint back
  crates/iota-core/src/authority/authority_per_epoch_store.rs
Due: none

fix: owned objects layout
  apps/explorer/src/components/owned-coins/OwnedCoins.tsx
  apps/explorer/src/components/owned-objects/OwnedObjects.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(wallet): Improve ledger address verification following suggestions
  apps/wallet/src/ui/app/pages/home/tokens/ReceiveTokensDialog.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(wallet): Improve ledger address verification following suggestions (fix accidentaly removed var)
  apps/wallet/src/ui/app/pages/home/tokens/ReceiveTokensDialog.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(wallet-dashboard): refactor staking dialog management for home
  apps/core/src/hooks/stake/useStakeTxnInfo.ts
  apps/wallet-dashboard/app/(protected)/staking/page.tsx
  apps/wallet-dashboard/components/Dialogs/Staking/hooks/useStakeDialog.ts
  apps/wallet-dashboard/components/staking-overview/StartStaking.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

Path conditions:
  eslint -c ./linting/.eslintrc.precommit.js --fix: any of: {sdk,apps}/**/*.{ts,js,mjs,tsx}
  prettier --write: any of: {sdk,apps}/**/*.{ts,js,mjs,tsx,scss,css}
