Repository iotaledger/iota: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

.lintstagedrc.json:

{
    "{sdk,apps}/**/*.{ts,js,mjs,tsx}": "eslint -c ./linting/.eslintrc.precommit.js --fix",
    "{sdk,apps}/**/*.{ts,js,mjs,tsx,scss,css}": "prettier --write"
}

revert: previous commit
  .typos.toml
Due: none

revert: "improve typesets for iota names"
  apps/ui-kit/src/lib/styles/base.css
  apps/ui-kit/src/lib/styles/index.css
  apps/ui-kit/src/lib/styles/variables/general-variables.css
Due: prettier --write

feat(apps-ui-kit): improve typesets for the names theme
  .typos.toml
  apps/ui-kit/src/lib/styles/base.css
Due: prettier --write

chore: changeset
  .changeset/honest-spoons-attack.md
Due: none

Split example into two separate queries since filtering by both emitting module and event type is not supported.
  crates/iota-graphql-rpc/examples/event_connection/filter_by_emitting_package.graphql
  crates/iota-graphql-rpc/examples/event_connection/filter_by_event_type.graphql
Due: none

fix: add type.css to .typos.toml
  .typos.toml
Due: none

upstream(ts-sdk): Update move-bytecode-template README.md
  sdk/move-bytecode-template/README.md
Due: none

Update crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
Due: none

Updated more examples
  crates/iota-graphql-rpc/examples/event_connection/event_connection.graphql
  crates/iota-graphql-rpc/examples/event_connection/filter_by_emitting_package.graphql
  crates/iota-graphql-rpc/examples/event_connection/filter_by_sender.graphql
  crates/iota-graphql-rpc/examples/object/object.graphql
  crates/iota-graphql-rpc/examples/object_connection/filter_object_ids.graphql
  crates/iota-graphql-rpc/examples/object_connection/filter_on_type.graphql
  crates/iota-graphql-rpc/examples/object_connection/filter_owner.graphql
Due: none

chore: remove fix comment
  crates/iota-core/src/authority/authority_per_epoch_store.rs
Due: none

Revert "refactor: Introduce compatible `IndexerConfigV2` and `CommandV2` to avoid breaking changes to the `pub enum Command` Rust API"
  crates/iota-indexer/src/config.rs
  crates/iota-indexer/src/main.rs
Due: none

fix: unlock metamask with pass and improve witing times
  apps/evm-bridge/tests/utils/auth.ts
  apps/evm-bridge/tests/utils/utils.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

update iota-swarm-config snapshots
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__genesis_config_snapshot_matches.snap
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
Due: none

fix: add default metamask version for tests
  apps/evm-bridge/package.json
  apps/evm-bridge/scripts/downloadWallet.js
  apps/evm-bridge/scripts/download_wallet_artifact_L2.sh
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix: Fix comments
  crates/iota-indexer/src/backfill/mod.rs
Due: none

feat: add prop to foce fixed position on dialog
  apps/ui-kit/src/lib/components/organisms/dialog/Dialog.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix: add metamask version and faucet retrys in bridge tests
  apps/evm-bridge/package.json
  apps/evm-bridge/scripts/downloadWallet.js
  apps/evm-bridge/scripts/download_wallet_artifact_L2.sh
  apps/evm-bridge/tests/utils/utils.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix double scrollbar
  apps/ui-kit/src/lib/components/molecules/select/Select.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix: revert metamask version changes
  apps/evm-bridge/package.json
  apps/evm-bridge/scripts/downloadWallet.js
  apps/evm-bridge/scripts/download_wallet_artifact_L2.sh
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

add changeset
  .changeset/chilled-eagles-sneeze.md
Due: none

Added grafana dashboard for consensus
  dev-tools/grafana-local/dashboards/consensus-overview.json
Due: none

fix(apps-core): Fix fallback icon image size and its refreshing
  apps/core/src/components/coin/CoinIcon.tsx
  apps/core/src/components/icon/ImageIcon.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

close select after clicking outside
  apps/ui-kit/src/lib/components/molecules/select/Select.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

simplify fix
  apps/core/src/components/coin/CoinIcon.tsx
  apps/core/src/components/icon/ImageIcon.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(keys): rename public_key_base64 to public_key_base64_with_flag
  crates/iota-keys/src/keystore.rs
Due: none

fix: fix panic message in validator command
  crates/iota/src/validator_commands.rs
Due: none

fix(docs): Navbar users section not highlighted on sidebar subpages
  docs/content/sidebars/users.js
  docs/site/docusaurus.config.js
Due: none

refactor: improve CoinSelector reseting
  apps/evm-bridge/src/components/CoinSelector.tsx
  apps/evm-bridge/src/lib/utils/transaction/createL1DepositTransaction.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(keys): use PublicKey directly instead of a base64 string but keep base64 for serialization
  crates/iota-keys/src/keystore.rs
  crates/iota-keys/src/lib.rs
  crates/iota-keys/src/serde_publickey.rs
Due: none

fix: refetch interval for useGasEstimateL2
  apps/evm-bridge/src/components/deposit/layer2/DepositLayer2.tsx
  apps/evm-bridge/src/hooks/useGasEstimateL2.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix: let IotaKeypair implement proper Clone trait
  crates/iota-keys/src/keystore.rs
  crates/iota-keys/src/serde_iota_keypair.rs
  crates/iota-rosetta/src/main.rs
  crates/iota-types/src/crypto.rs
Due: none

feat(keys): use serde_with to serialize DerivationPath instead
  Cargo.lock
  crates/iota-keys/Cargo.toml
  crates/iota-keys/src/keystore.rs
  crates/iota-keys/src/lib.rs
  crates/iota-keys/src/serde_derivation_path.rs
Due: none

fix: bring back missing colors
  apps/ui-kit/src/lib/styles/variables/light-variables.css
Due: prettier --write

add research team as codeowners for authority directory
  .github/CODEOWNERS
Due: none

include node and consensus as codeowners
  .github/CODEOWNERS
Due: none

fix: coin selectore when l1 address has no balance and coin selector dependency array
  apps/evm-bridge/src/components/CoinSelector.tsx
  apps/evm-bridge/src/hooks/useSortedCoinsBalances.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix: adjust test gas budgets
  apps/evm-bridge/tests/depositThenWithdraw.spec.ts
  apps/evm-bridge/tests/sendMaxAmount.spec.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write
