Repository iotaledger/iota: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

.lintstagedrc.json:

{
    "{sdk,apps}/**/*.{ts,js,mjs,tsx}": "eslint -c ./linting/.eslintrc.precommit.js --fix",
    "{sdk,apps}/**/*.{ts,js,mjs,tsx,scss,css}": "prettier --write"
}

another batch
  Cargo.lock
  crates/iota-genesis-builder/Cargo.toml
  crates/iota-move-build/Cargo.toml
  crates/iota/Cargo.toml
Due: none

update missing classes
  apps/wallet/src/ui/app/pages/home/tokens/OverviewHint.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

Update docs/content/developer/cryptography/on-chain/groth16.mdx
  docs/content/developer/cryptography/on-chain/groth16.mdx
Due: none

fix format
  apps/wallet/src/ui/app/components/accounts/OffBalanceAddressesInfo.tsx
  apps/wallet/src/ui/app/pages/accounts/manage/accounts-finder/AccountsFinderView.tsx
  apps/wallet/src/ui/app/pages/home/tokens/MissingFundsDialog.tsx
  apps/wallet/src/ui/app/pages/home/tokens/OverviewHint.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

Update groth16.mdx to add atk-std as rand 0.8.5 import
  docs/content/developer/cryptography/on-chain/groth16.mdx
Due: none

chore(apps-ui-kit): update some styles
  apps/ui-kit/src/lib/styles/index.css
Due: prettier --write

upstream(sdk): [bcs] add bcs.byteVector
  .changeset/fast-bees-matter.md
  docs/content/ts-sdk/bcs.mdx
  sdk/bcs/src/bcs.ts
  sdk/bcs/tests/builder.test.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

upstream(sdk): [iota-sdk] export Owner bcs type
  .changeset/dry-cheetahs-teach.md
  sdk/typescript/src/bcs/bcs.ts
  sdk/typescript/src/bcs/effects.ts
  sdk/typescript/src/bcs/index.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

upstream(sdk): [bcs] Correctly handle byteOffset in Uint8Arrays when reading bcs bytes
  .changeset/pretty-foxes-flash.md
  sdk/bcs/src/reader.ts
  sdk/bcs/tests/bcs.test.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

upstream(sdk): [bcs] allow type transforms to omit input or output transforms
  .changeset/slimy-lobsters-live.md
  sdk/bcs/src/bcs-type.ts
  sdk/bcs/tests/builder.test.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(isc-sdk): Add README
  sdk/isc-sdk/README.md
Due: none

fix examples link
  sdk/isc-sdk/README.md
Due: none

fmt
  sdk/isc-sdk/README.md
Due: none

fix(indexer): wait for object in test
  crates/iota-indexer/tests/rpc-tests/read_api.rs
Due: none

fix(node): Uncomment the param in build_test_cluster
  crates/iota-benchmark/tests/simtest.rs
Due: none

refactor: Use `get_singleton_object()` for faster object access
  crates/iota-indexer/src/indexer_reader.rs
Due: none

test: write complete extensive tests
  crates/iota-core/src/authority/suggested_gas_price_calculator.rs
Due: none

hotfix(evm-bridge): Add `private: true,`
  apps/evm-bridge/package.json
Due: none

minor refactoring
  account_abstraction/aa_move/README.md
  account_abstraction/aa_move/sources/smart_account.move
  account_abstraction/aa_move/sources/tx_flow.move
  account_abstraction/aa_rust_sdk_flow/src/smart_account.rs
Due: none

chore: remove todo
  crates/iota-core/src/authority/suggested_gas_price_calculator.rs
Due: none

chore: add _test suffix to sequencer tests
  crates/iota-core/src/authority/shared_object_congestion_tracker.rs
Due: none

fix: remove chrono pin
  Cargo.lock
  Cargo.toml
  crates/iota-analytics-indexer/Cargo.toml
Due: none

remove arrow
  Cargo.lock
  crates/iota-analytics-indexer/Cargo.toml
Due: none

feat(consensus): Always fetch own blocks from a quorum and expect a quorum of subscriptions (#7494)
  consensus/core/src/authority_node.rs
  consensus/core/src/authority_service.rs
  consensus/core/src/core.rs
  consensus/core/src/core_thread.rs
  consensus/core/src/leader_timeout.rs
  consensus/core/src/round_prober.rs
  consensus/core/src/synchronizer.rs
Due: none

feat(iota-core): import congestion tracker
  crates/iota-core/src/authority.rs
  crates/iota-core/src/checkpoints/checkpoint_executor/mod.rs
  crates/iota-core/src/congestion_tracker.rs
  crates/iota-core/src/lib.rs
  crates/iota-json-rpc-types/src/iota_transaction.rs
  crates/iota-json-rpc/src/transaction_execution_api.rs
  crates/iota-types/src/execution_status.rs
Due: none

refactor(indexer): improve on disabling reindexing of optimistic transactions (#7518)
  crates/iota-indexer/src/handlers/checkpoint_handler.rs
  crates/iota-indexer/src/handlers/mod.rs
  crates/iota-indexer/src/lib.rs
  crates/iota-indexer/src/models/objects.rs
  crates/iota-indexer/src/rolling/error.rs
  crates/iota-indexer/src/rolling/extract.rs
  crates/iota-indexer/src/rolling/mod.rs
  crates/iota-indexer/src/rolling/persist.rs
  crates/iota-indexer/src/rolling/transform.rs
  crates/iota-indexer/src/store/indexer_store.rs
  crates/iota-indexer/src/store/pg_indexer_store.rs
  crates/iota-indexer/tests/rpc-tests/read_api.rs
  crates/iota-indexer/tests/rpc-tests/write_api.rs
Due: none

refactor(indexer): revert disabling logic from committer
  crates/iota-indexer/src/handlers/committer.rs
Due: none

refactor: Impl generic get_package_object_as<T>
  crates/iota-indexer/src/indexer_reader.rs
Due: none

refactor(indexer): use tx_global_order table (#7152)
  crates/iota-indexer/diesel.toml
  crates/iota-indexer/migrations/pg/2025-05-29-072412_insertion-order-revisited/down.sql
  crates/iota-indexer/migrations/pg/2025-05-29-072412_insertion-order-revisited/up.sql
  crates/iota-indexer/src/handlers/committer.rs
  crates/iota-indexer/src/indexer_reader.rs
  crates/iota-indexer/src/models/event_indices.rs
  crates/iota-indexer/src/models/events.rs
  crates/iota-indexer/src/models/macros.rs
  crates/iota-indexer/src/models/transactions.rs
  crates/iota-indexer/src/models/tx_indices.rs
  crates/iota-indexer/src/schema.rs
  crates/iota-indexer/src/store/indexer_store.rs
  crates/iota-indexer/src/store/pg_indexer_store.rs
  crates/iota-indexer/tests/ingestion_tests.rs
Due: none

feat(indexer): Do not reindex objects in checkpoint indexing, fix race conditions for display table (#7403)
  crates/iota-indexer/src/handlers/checkpoint_handler.rs
  crates/iota-indexer/src/handlers/mod.rs
  crates/iota-indexer/src/lib.rs
  crates/iota-indexer/src/models/objects.rs
  crates/iota-indexer/src/rolling/error.rs
  crates/iota-indexer/src/rolling/extract.rs
  crates/iota-indexer/src/rolling/mod.rs
  crates/iota-indexer/src/rolling/persist.rs
  crates/iota-indexer/src/rolling/transform.rs
  crates/iota-indexer/src/store/indexer_store.rs
  crates/iota-indexer/src/store/mod.rs
  crates/iota-indexer/src/store/pg_indexer_store.rs
  crates/iota-indexer/tests/rpc-tests/coin_api.rs
  crates/iota-indexer/tests/rpc-tests/read_api.rs
  crates/iota-indexer/tests/rpc-tests/write_api.rs
Due: none

feat(indexer): Introduce basic optimistic indexing (#7235)
  crates/iota-indexer/src/apis/mod.rs
  crates/iota-indexer/src/apis/write_api.rs
  crates/iota-indexer/src/db.rs
  crates/iota-indexer/src/handlers/checkpoint_handler.rs
  crates/iota-indexer/src/indexer.rs
  crates/iota-indexer/src/lib.rs
  crates/iota-indexer/src/main.rs
  crates/iota-indexer/src/optimistic_indexing.rs
  crates/iota-indexer/src/test_utils.rs
  crates/iota-indexer/tests/common/mod.rs
  crates/iota-indexer/tests/rpc-tests/indexer_api.rs
  crates/iota-indexer/tests/rpc-tests/write_api.rs
Due: none

fix: change `iotaleger` to `iotaledger`
  docs/content/operator/gas-station/deployment/deployment.mdx
Due: none

chore(isc-sdk): Prettier
  sdk/isc-sdk/README.md
Due: none

fix(apps-ui-kit): remove unnecessary root light class and add default root
  apps/ui-kit/src/lib/styles/index.css
Due: prettier --write

fix: add license
  crates/iota-core/src/authority/suggested_gas_price_calculator.rs
Due: none

fix: typos, remove weird file
  3
  crates/iota-core/src/authority/suggested_gas_price_calculator.rs
Due: none

fix: shared_object_congestion_tracker test
  crates/iota-core/src/authority/shared_object_congestion_tracker.rs
Due: none

chore: fmt in shared_object_congestion_tracker tests
  crates/iota-core/src/authority/shared_object_congestion_tracker.rs
Due: none

Update README.md
  sdk/isc-sdk/README.md
Due: none
