Repository iotaledger/iota: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat: disable the calculator for old sequencer
  crates/iota-core/src/authority/authority_per_epoch_store.rs
Due: none

send headers with a block
  crates/starfish/core/build.rs
  crates/starfish/core/src/authority_service.rs
  crates/starfish/core/src/commit_syncer.rs
  crates/starfish/core/src/network/mod.rs
  crates/starfish/core/src/network/test_network.rs
  crates/starfish/core/src/network/tonic_network.rs
  crates/starfish/core/src/subscriber.rs
  crates/starfish/core/src/synchronizer.rs
Due: none

chore: amend calculate_suggested_gas_price tests
  crates/iota-core/src/authority/suggested_gas_price_calculator.rs
Due: none

todo: investigate read operations
  crates/iota-core/src/authority/suggested_gas_price_calculator.rs
Due: none

refactor(apps-ui-kit): update atoms to apply new palettes (Badge-LabelText) (#7355)
  apps/ui-kit/.storybook/main.ts
  apps/ui-kit/.storybook/preview.tsx
  apps/ui-kit/src/lib/components/atoms/badge/badge.classes.ts
  apps/ui-kit/src/lib/components/atoms/badge/badge.enums.ts
  apps/ui-kit/src/lib/components/atoms/button-segment/buttonSegment.classes.ts
  apps/ui-kit/src/lib/components/atoms/button/button.classes.ts
  apps/ui-kit/src/lib/components/atoms/checkbox/Checkbox.tsx
  apps/ui-kit/src/lib/components/atoms/header/Header.tsx
  apps/ui-kit/src/lib/components/atoms/info-box/InfoBox.tsx
  apps/ui-kit/src/lib/components/atoms/info-box/infoBox.classes.ts
  apps/ui-kit/src/lib/components/atoms/key-value-info/KeyValueInfo.tsx
  apps/ui-kit/src/lib/components/atoms/label-text/LabelText.tsx
  apps/ui-kit/src/lib/components/atoms/snackbar/snackbar.classes.ts
  apps/ui-kit/src/lib/styles/components.css
  apps/ui-kit/src/lib/styles/index.css
  apps/ui-kit/src/lib/tailwind/constants/customColors.constants.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(apps-ui-kit): update molecules to apply new palettes (#7354)
  apps/ui-kit/src/lib/components/molecules/account/Account.tsx
  apps/ui-kit/src/lib/components/molecules/address/Address.tsx
  apps/ui-kit/src/lib/components/molecules/card/CardAction.tsx
  apps/ui-kit/src/lib/components/molecules/card/CardBody.tsx
  apps/ui-kit/src/lib/components/molecules/card/card.classes.ts
  apps/ui-kit/src/lib/components/molecules/chip/chip.classes.ts
  apps/ui-kit/src/lib/components/molecules/display-stats/DisplayStats.tsx
  apps/ui-kit/src/lib/components/molecules/display-stats/displayStats.classes.ts
  apps/ui-kit/src/lib/components/molecules/dropdown/Dropdown.tsx
  apps/ui-kit/src/lib/components/molecules/input/Input.tsx
  apps/ui-kit/src/lib/components/molecules/input/TextArea.tsx
  apps/ui-kit/src/lib/components/molecules/input/input.classes.ts
  apps/ui-kit/src/lib/components/molecules/navbar-item/navbarItem.classes.ts
  apps/ui-kit/src/lib/components/molecules/search/Search.tsx
  apps/ui-kit/src/lib/components/molecules/search/search.classes.ts
  apps/ui-kit/src/lib/components/molecules/segmented-button/segmentedButton.classes.ts
  apps/ui-kit/src/lib/components/molecules/select/Select.tsx
  apps/ui-kit/src/lib/components/molecules/table-cell/TableCell.tsx
  apps/ui-kit/src/lib/components/molecules/table-header-cell/TableHeaderCell.tsx
  apps/ui-kit/src/lib/components/molecules/title/Title.tsx
  apps/ui-kit/src/lib/styles/components.css
  apps/ui-kit/src/lib/styles/index.css
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(apps-ui-kit): update atoms to apply new palettes (`LisItem` - `VisualAssetCard`) (#7349)
  apps/ui-kit/src/lib/components/atoms/list-item/ListItem.tsx
  apps/ui-kit/src/lib/components/atoms/loading-indicator/LoadingIndicator.tsx
  apps/ui-kit/src/lib/components/atoms/panel/Panel.tsx
  apps/ui-kit/src/lib/components/atoms/radio-button/RadioButton.tsx
  apps/ui-kit/src/lib/components/atoms/secondary-text/SecondaryText.tsx
  apps/ui-kit/src/lib/components/atoms/skeleton/Skeleton.tsx
  apps/ui-kit/src/lib/components/atoms/toggle/toggle.classes.ts
  apps/ui-kit/src/lib/components/atoms/tooltip/Tooltip.tsx
  apps/ui-kit/src/lib/components/atoms/visual-asset-card/VisualAssetCard.tsx
  apps/ui-kit/src/lib/styles/components.css
  apps/ui-kit/src/lib/styles/index.css
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(apps-ui-kit): add iota-names color palette and typography (#7331)
  apps/ui-kit/package.json
  apps/ui-kit/src/lib/constants/colors.constants.ts
  apps/ui-kit/src/lib/styles/base.css
  apps/ui-kit/src/lib/styles/fonts.css
  apps/ui-kit/src/lib/styles/index.css
  apps/ui-kit/src/lib/tailwind/base.presets.ts
  apps/ui-kit/src/lib/tailwind/constants/fontFamily.constants.ts
  apps/ui-kit/src/lib/tailwind/constants/fontSizes.constants.ts
  apps/ui-kit/src/storybook/stories/design-tokens/colors.stories.mdx
  apps/wallet/src/ui/app/components/accounts/RecoverAccountsGroup.tsx
  pnpm-lock.yaml
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(apps-ui-kit): update storybook after multi-theme (#7377)
  apps/ui-kit/src/lib/styles/index.css
  apps/ui-kit/src/lib/tailwind/base.presets.ts
  apps/ui-kit/src/lib/tailwind/plugins.ts
  apps/ui-kit/src/storybook/stories/atoms/Skeleton.stories.tsx
  apps/ui-kit/src/storybook/stories/atoms/Tooltip.stories.tsx
  apps/ui-kit/src/storybook/stories/molecules/Account.stories.tsx
  apps/ui-kit/src/storybook/stories/molecules/Search.stories.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(apps-ui-kit): update organisms to apply new palettes (#7359)
  apps/ui-kit/src/lib/components/organisms/accordion/Accordion.tsx
  apps/ui-kit/src/lib/components/organisms/accordion/accordion.classes.ts
  apps/ui-kit/src/lib/components/organisms/dialog/Dialog.tsx
  apps/ui-kit/src/lib/components/organisms/navbar/Navbar.tsx
  apps/ui-kit/src/lib/components/organisms/navbar/NavbarSlideout.tsx
  apps/ui-kit/src/lib/components/organisms/table/Table.tsx
  apps/ui-kit/src/lib/styles/components.css
  apps/ui-kit/src/lib/styles/index.css
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

Update comment about sample unwrapping
  crates/iota-core/src/generate_format.rs
Due: none

fix missing conflict
  apps/ui-kit/src/lib/components/atoms/key-value-info/KeyValueInfo.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

refactor(docs): review and update quiz in transaction lifecycle page
  docs/site/static/json/about-iota/iota-architecture/transaction-lifecycle.json
Due: none

refactor(docs): add quiz to consensus page
  docs/content/about-iota/iota-architecture/consensus.mdx
  docs/site/static/json/about-iota/iota-architecture/consensus.json
Due: none

feat(docs): restructure docs moved iota identity into developer section and update references
  docs/content/developer/developer.mdx
  docs/content/developer/evm-to-move/tooling-apis.mdx
  docs/content/developer/getting-started/client-tssdk.mdx
  docs/content/developer/iota-identity/explanations/about-identity-objects.mdx
  docs/content/developer/iota-identity/explanations/authenticated-assets.mdx
  docs/content/developer/iota-identity/explanations/decentralized-identifiers.mdx
  docs/content/developer/iota-identity/explanations/verifiable-credentials.mdx
  docs/content/developer/iota-identity/explanations/verifiable-presentations.mdx
  docs/content/developer/iota-identity/getting-started/local-network-setup.mdx
  docs/content/developer/iota-identity/getting-started/rust.mdx
  docs/content/developer/iota-identity/getting-started/universal-resolver.mdx
  docs/content/developer/iota-identity/getting-started/wasm.mdx
  docs/content/developer/iota-identity/how-tos/decentralized-identifiers/create.mdx
  docs/content/developer/iota-identity/how-tos/decentralized-identifiers/delete.mdx
  docs/content/developer/iota-identity/how-tos/decentralized-identifiers/resolve.mdx
  docs/content/developer/iota-identity/how-tos/decentralized-identifiers/update.mdx
  docs/content/developer/iota-identity/how-tos/domain-linkage/create-and-verify.mdx
  docs/content/developer/iota-identity/how-tos/key-storage.mdx
  docs/content/developer/iota-identity/how-tos/verifiable-credentials/create.mdx
  docs/content/developer/iota-identity/how-tos/verifiable-credentials/revocation.mdx
  docs/content/developer/iota-identity/how-tos/verifiable-credentials/selective-disclosure.mdx
  docs/content/developer/iota-identity/how-tos/verifiable-credentials/zero-knowledge-selective-disclosure.mdx
  docs/content/developer/iota-identity/how-tos/verifiable-presentations/create-and-validate.mdx
Due: none

feat(docs): update referencing links and correct IOTA Identity references
  docs/content/developer/standards/kiosk.mdx
  docs/content/developer/tutorials/independent-ticketing-system/frontend.mdx
  docs/content/developer/tutorials/independent-ticketing-system/package.mdx
  docs/content/developer/tutorials/live-concert.mdx
  docs/content/references/iota-identity/revocation-bitmap-2022.mdx
  docs/content/references/iota-identity/revocation-timeframe-2024.mdx
  docs/content/references/iota-sdks.mdx
  docs/content/references/references.mdx
Due: none

fix: update congestion info only for mutable objects
  crates/iota-core/src/authority/suggested_gas_price_calculator.rs
Due: none

chore: sequencer's try_schedule does not need mut ref
  crates/iota-core/src/authority/shared_object_congestion_tracker.rs
Due: none

chore(apps-ui-kit): update color variables
  apps/ui-kit/src/lib/styles/index.css
Due: prettier --write

updated correct referencing links
  apps/wallet-dashboard/components/dialogs/assets/views/DetailsView.tsx
  apps/wallet/src/ui/app/pages/home/nft-details/index.tsx
  docs/content/developer/iota-evm/getting-started/networks-and-chains.mdx
  docs/content/developer/iota-evm/how-tos/core-contracts/introduction.md
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

updated the collapsed inside sidebar
  docs/content/sidebars/developer.js
  docs/content/sidebars/iota-evm.js
Due: none

upstream(node): Improved error metrics and benchmarking (#7341)
  crates/iota-core/src/authority_server.rs
  crates/iota-core/src/traffic_controller/metrics.rs
  crates/iota-core/src/traffic_controller/mod.rs
  crates/iota-core/src/traffic_controller/policies.rs
  crates/iota-e2e-tests/tests/traffic_control_tests.rs
  crates/iota-json-rpc/src/axum_router.rs
Due: none

upstream(node): Update fastcrypto (#7444)
  Cargo.lock
  Cargo.toml
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/consensus_validator.rs
  crates/iota-core/src/epoch/randomness.rs
  crates/iota-network/src/randomness/mod.rs
  crates/iota-network/src/randomness/tests.rs
  crates/iota-types/src/crypto.rs
  crates/iota-types/src/messages_consensus.rs
Due: none

feat: bump iota to v1.4.0-alpha
  Cargo.lock
  Cargo.toml
  crates/iota-graphql-e2e-tests/tests/call/simple.snap
  crates/iota-open-rpc/spec/openrpc.json
Due: none

upstream(node): Add salt to TrafficSketch (#7445)
  crates/iota-core/src/traffic_controller/policies.rs
Due: none

upstream(core): Remove test-utils feature
  crates/iota-core/Cargo.toml
  crates/iota-core/src/authority.rs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/consensus_handler.rs
  crates/iota-core/src/lib.rs
  crates/iota-single-node-benchmark/Cargo.toml
  crates/iota-transactional-test-runner/Cargo.toml
  crates/iota-types/src/zk_login_authenticator.rs
  crates/test-cluster/Cargo.toml
  crates/transaction-fuzzer/Cargo.toml
Due: none

fix: tests
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Mainnet_version_10.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Testnet_version_10.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__version_10.snap
  crates/iota-rest-api/openapi/openapi.json
Due: none

chore(apps-ui-kit): update secondary error bg in dark root
  apps/ui-kit/src/lib/styles/index.css
Due: prettier --write

chore: update iota-rust-sdk revision
  Cargo.lock
  Cargo.toml
Due: none

feat: make background of ObjectVideoImage similar to panels in explorer
  apps/explorer/src/components/ui/ObjectVideoImage.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix: iota-swarm-config tests
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
Due: none

fix(ci): release notes from feature-branch with non-squashed commits
  scripts/release_notes/release_notes.py
Due: none

refactor(docs): update quiz on protocol upgrade page
  docs/site/static/json/about-iota/iota-architecture/protocol-upgrades.json
Due: none

refactor(apps-ui-kit): refactor Chip component to support multiple types
  apps/ui-kit/src/lib/components/molecules/chip/Chip.tsx
  apps/ui-kit/src/lib/components/molecules/chip/chip.classes.ts
  apps/ui-kit/src/lib/components/molecules/chip/chip.enums.ts
  apps/ui-kit/src/lib/components/molecules/chip/index.ts
  apps/ui-kit/src/lib/styles/components.css
  apps/ui-kit/src/lib/styles/index.css
  apps/ui-kit/src/storybook/stories/molecules/Chip.stories.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(iota-core, iota-types)!: introduce gas price feedback mechanism for transactions cancelled due to congestion (#6280)
  Cargo.lock
  Cargo.toml
  crates/iota-benchmark/src/workloads/batch_payment.rs
  crates/iota-benchmark/tests/simtest.rs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/authority/authority_store.rs
  crates/iota-core/src/authority/authority_store_pruner.rs
  crates/iota-core/src/authority/authority_store_tables.rs
  crates/iota-core/src/authority/shared_object_congestion_tracker.rs
  crates/iota-core/src/authority/shared_object_version_manager.rs
  crates/iota-core/src/unit_tests/authority_tests.rs
  crates/iota-core/src/unit_tests/congestion_control_tests.rs
  crates/iota-core/src/unit_tests/transaction_manager_tests.rs
  crates/iota-core/src/unit_tests/transfer_to_object_tests.rs
  crates/iota-core/tests/staged/iota.yaml
  crates/iota-genesis-builder/src/lib.rs
  crates/iota-genesis-builder/src/stardust/migration/migration.rs
  crates/iota-indexer/tests/rpc-tests/read_api.rs
  crates/iota-json-rpc-tests/tests/transaction_builder_api.rs
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-protocol-config/src/lib.rs
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Mainnet_version_10.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Testnet_version_10.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__version_10.snap
  crates/iota-rest-api/openapi/openapi.json
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__genesis_config_snapshot_matches.snap
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
  crates/iota-transaction-checks/src/lib.rs
  crates/iota-types/src/base_types.rs
  crates/iota-types/src/execution_status.rs
  crates/iota-types/src/iota_sdk_types_conversions.rs
  crates/iota-types/src/storage/mod.rs
  crates/iota-types/src/transaction.rs
  crates/iota-types/src/unit_tests/base_types_tests.rs
  crates/iota-types/tests/staged/exec_failure_status.yaml
  iota-execution/cut/Cargo.toml
  iota-execution/latest/iota-adapter/src/execution_engine.rs
  iota-execution/latest/iota-adapter/src/temporary_store.rs
  iota-execution/latest/iota-move-natives/src/object_runtime/object_store.rs
Due: none

chore: use max gas price from protocol config
  crates/iota-core/src/authority/suggested_gas_price_calculator.rs
Due: none

fix: suggestt rgp if max execution duration is none
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/authority/shared_object_congestion_tracker.rs
  crates/iota-core/src/authority/suggested_gas_price_calculator.rs
Due: none

refactor(iota-data-ingestion-core): simpler implementation for the reader::v2
  crates/iota-data-ingestion-core/src/errors.rs
  crates/iota-data-ingestion-core/src/reader/v2.rs
Due: none

refactor(iota-data-ingestion-core): refactor executor
  crates/iota-data-ingestion-core/src/executor.rs
  crates/iota-data-ingestion-core/src/executor/mod.rs
  crates/iota-data-ingestion-core/src/executor/v2.rs
  crates/iota-data-ingestion-core/src/lib.rs
Due: none

Path conditions:
  eslint -c ./linting/.eslintrc.precommit.js --fix: any of: {sdk,apps}/**/*.{ts,js,mjs,tsx}
  prettier --write: any of: {sdk,apps}/**/*.{ts,js,mjs,tsx,scss,css}
