Repository iotaledger/iota: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(core): move HiddenAssetsProvider.
  apps/core/src/contexts/HiddenAssetsProvider.tsx
  apps/core/src/contexts/index.ts
  apps/wallet/src/ui/app/hooks/useGetNFTs.ts
  apps/wallet/src/ui/app/pages/home/assets/index.tsx
  apps/wallet/src/ui/app/pages/home/nfts/HiddenAsset.tsx
  apps/wallet/src/ui/app/pages/home/nfts/VisualAssets.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix: remove file and improve sorting
  apps/wallet-dashboard/hooks/useGroupedMigrationObjectsByExpirationDate.ts
  apps/wallet-dashboard/hooks/useResolveStardustGroupedObjects.ts
  apps/wallet-dashboard/lib/utils/migration/groupMigrationObjects.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(dashboard): add migratable object details (#4424)
  apps/core/src/utils/migration/createMigrationTransaction.ts
  apps/core/src/utils/parseObjectDetails.ts
  apps/ui-kit/src/lib/components/atoms/index.ts
  apps/ui-kit/src/lib/components/atoms/skeleton/Skeleton.tsx
  apps/ui-kit/src/lib/components/atoms/skeleton/index.ts
  apps/ui-kit/src/storybook/stories/atoms/Skeleton.stories.tsx
  apps/wallet-dashboard/app/(protected)/migrations/page.tsx
  apps/wallet-dashboard/components/MigrationOverview.tsx
  apps/wallet-dashboard/components/Popup/Popups/MigratePopup.tsx
  apps/wallet-dashboard/components/VirtualList.tsx
  apps/wallet-dashboard/components/index.ts
  apps/wallet-dashboard/components/migration/MigrationObjectsPanel.tsx
  apps/wallet-dashboard/components/migration/index.ts
  apps/wallet-dashboard/components/migration/migration-object-details-card/MigrationObjectDetailsCard.tsx
  apps/wallet-dashboard/components/migration/migration-object-details-card/index.ts
  apps/wallet-dashboard/hooks/index.ts
  apps/wallet-dashboard/hooks/useGetCurrentEpochEndTimestamp.ts
  apps/wallet-dashboard/hooks/useGetStardustMigratableObjects.ts
  apps/wallet-dashboard/hooks/useGroupedMigrationObjectsByExpirationDate.ts
  apps/wallet-dashboard/lib/constants/migration.constants.ts
  apps/wallet-dashboard/lib/enums/commonMigrationObjectType.enums.ts
  apps/wallet-dashboard/lib/enums/index.ts
  apps/wallet-dashboard/lib/enums/stardustOutputDetailsFilter.enum.ts
  apps/wallet-dashboard/lib/enums/stardustOutputMigrationStatus.enum.ts
  apps/wallet-dashboard/lib/types/index.ts
  apps/wallet-dashboard/lib/types/stardustMigrationObjects.ts
  apps/wallet-dashboard/lib/utils/migration/filterMigrationObjectDetails.ts
  apps/wallet-dashboard/lib/utils/migration/groupMigrationObjects.ts
  apps/wallet-dashboard/lib/utils/migration/groupStardustObjectsByMigrationStatus.ts
  apps/wallet-dashboard/lib/utils/migration/index.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(core): move useGetNFTs.
  apps/core/package.json
  apps/core/src/hooks/index.ts
  apps/core/src/hooks/useGetNFTs.ts
  apps/wallet-dashboard/app/(protected)/assets/layout.tsx
  apps/wallet-dashboard/app/(protected)/assets/page.tsx
  apps/wallet-dashboard/lib/enums/assetCategory.enum.ts
  apps/wallet/src/ui/app/pages/home/nfts/index.tsx
  pnpm-lock.yaml
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(core): update useGetNFTs to accept filter and improve asset fetching
  apps/core/src/hooks/useGetNFTs.ts
  apps/wallet-dashboard/app/(protected)/assets/page.tsx
  apps/wallet-dashboard/components/AssetsList.tsx
  apps/wallet-dashboard/lib/enums/assetCategory.enum.ts
  apps/wallet/src/ui/app/pages/home/nfts/index.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

refactor: add comments and adjust example argument
  crates/iota-config/src/genesis.rs
  crates/iota-genesis-builder/examples/snapshot_only_test_outputs.rs
Due: none

fix sidebar highlights (#4467)
  docs/site/src/components/API/api-ref/refnav.js
  docs/site/src/css/custom.css
Due: none

Fix layout
  docs/content/developer/getting-started/simple-token-transfer.mdx
Due: none

feat: add totalStorageDepositReturnAmount
  apps/wallet-dashboard/components/Dialogs/MigrationDialog.tsx
  apps/wallet-dashboard/lib/utils/migration/groupStardustObjectsByMigrationStatus.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

remove with dialog content
  apps/wallet-dashboard/components/Dialogs/SendToken/views/EnterValuesFormView.tsx
  apps/wallet-dashboard/components/Dialogs/SendToken/views/ReviewValuesFormView.tsx
  apps/wallet-dashboard/components/Dialogs/SendToken/views/TransactionDetailsView.tsx
  apps/wallet-dashboard/components/Dialogs/layout/DialogLayout.tsx
  apps/wallet-dashboard/components/Dialogs/transaction/TransactionDetailsLayout.tsx
  apps/wallet-dashboard/components/transactions/TransactionTile.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(iota-genesis-builder): add metrics print in filters
  crates/iota-e2e-tests/tests/full_node_migration_tests.rs
  crates/iota-genesis-builder/src/main.rs
  crates/iota-genesis-builder/src/stardust/migration/migration.rs
  crates/iota-genesis-builder/src/stardust/process_outputs.rs
Due: none

chore(CI): Refactor and re-enable simulator nightly (#4430)
  .github/workflows/_rust_tests.yml
  .github/workflows/nightly.yml
  .github/workflows/simulator_nightly.yml
Due: none

fix typo
  crates/iota-e2e-tests/tests/full_node_migration_tests.rs
Due: none

fix fmt
  crates/iota-config/src/genesis.rs
  crates/iota-genesis-builder/examples/snapshot_only_test_outputs.rs
Due: none

refactor: format
  apps/wallet-dashboard/components/Dialogs/SendToken/views/TransactionDetailsView.tsx
  apps/wallet-dashboard/components/Dialogs/layout/DialogLayout.tsx
  apps/wallet-dashboard/components/Dialogs/transaction/TransactionDetailsLayout.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fmt
  sdk/create-dapp/templates/react-client-dapp/eslint.config.js
  sdk/create-dapp/templates/react-e2e-counter/eslint.config.js
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(wallet-dashboard): Add tx details state to the end of send coin flow (#4422)
  apps/core/src/hooks/index.ts
  apps/core/src/hooks/useRecognizedPackages.ts
  apps/explorer/src/components/owned-coins/OwnedCoins.tsx
  apps/explorer/src/hooks/index.ts
  apps/explorer/src/hooks/useResolveVideo.ts
  apps/explorer/src/pages/transaction-result/TransactionData.tsx
  apps/explorer/src/pages/transaction-result/TransactionView.tsx
  apps/explorer/src/pages/transaction-result/transaction-summary/index.tsx
  apps/wallet-dashboard/components/Dialogs/SendToken/SendTokenDialog.tsx
  apps/wallet-dashboard/components/Dialogs/SendToken/views/EnterValuesFormView.tsx
  apps/wallet-dashboard/components/Dialogs/SendToken/views/ReviewValuesFormView.tsx
  apps/wallet-dashboard/components/Dialogs/SendToken/views/TransactionDetailsView.tsx
  apps/wallet-dashboard/components/Dialogs/SendToken/views/index.ts
  apps/wallet-dashboard/components/Dialogs/transaction/TransactionDetailsLayout.tsx
  apps/wallet-dashboard/components/Dialogs/transaction/index.ts
  apps/wallet-dashboard/components/transactions/TransactionTile.tsx
  apps/wallet-dashboard/hooks/index.ts
  apps/wallet-dashboard/hooks/useTransferTransaction.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

refactor(apps-backend): Enable vesting and migration in production
  apps/apps-backend/src/features/features.controller.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat: add min height
  apps/wallet-dashboard/app/globals.css
Due: prettier --write

fix: change notifications for toast
  apps/wallet-dashboard/components/Dialogs/settings/hooks/useSettingsDialog.ts
  apps/wallet-dashboard/components/Dialogs/settings/views/NetworkSelectorView.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix clippy issue
  crates/iota/tests/cli_tests.rs
Due: none

feat(dashboard): minor fixes
  apps/wallet-dashboard/components/Dialogs/TransactionDialog.tsx
  apps/wallet-dashboard/components/Dialogs/unstake/views/UnstakeTimelockedObjectsView.tsx
  apps/wallet-dashboard/components/Dialogs/unstake/views/UnstakeView.tsx
  apps/wallet-dashboard/hooks/useNewStakeTransaction.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

enhancement: swap theme setting buttons positions
  apps/wallet-dashboard/app/(protected)/components/top-nav/TopNav.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat: fix virtual list and remove duplicated import
  apps/wallet-dashboard/components/Dialogs/MigrationDialog.tsx
  apps/wallet-dashboard/components/VirtualList.tsx
  apps/wallet-dashboard/lib/utils/index.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat. add padding
  apps/wallet-dashboard/components/coins/MyCoins.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

refactor(apps-backend): Enable vesting and migration in production (#4514)
  apps/apps-backend/src/features/features.controller.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

refactor(dashboard): change dialog layout structure for assets
  apps/wallet-dashboard/components/Dialogs/Assets/AssetDialog.tsx
  apps/wallet-dashboard/components/Dialogs/Assets/views/DetailsView.tsx
  apps/wallet-dashboard/components/Dialogs/Assets/views/SendView.tsx
  apps/wallet-dashboard/components/Dialogs/layout/DialogLayout.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(wallet-dashboard): improve dark/light mode switcher (#4503)
  apps/core/src/components/buttons/ThemeSwitcher.tsx
  apps/core/src/components/buttons/index.ts
  apps/explorer/src/components/header/Header.tsx
  apps/explorer/src/components/header/index.ts
  apps/wallet-dashboard/app/(protected)/components/top-nav/TopNav.tsx
  apps/wallet-dashboard/app/(protected)/layout.tsx
  apps/wallet-dashboard/app/page.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix(dashboard): clean merge debris
  apps/wallet-dashboard/components/Dialogs/SendToken/SendTokenDialog.tsx
  apps/wallet-dashboard/components/Dialogs/layout/DialogLayout.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat: update storage deposit return amount
  apps/wallet-dashboard/components/Dialogs/MigrationDialog.tsx
  apps/wallet-dashboard/lib/utils/migration/groupMigrationObjects.ts
  apps/wallet-dashboard/lib/utils/migration/groupStardustObjectsByMigrationStatus.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(wallet-dashboard): show tx details to unstaking flow (#4433)
  apps/wallet-dashboard/components/Dialogs/Staking/StakeDialog.tsx
  apps/wallet-dashboard/components/Dialogs/Staking/views/UnstakeView.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix(core): linter
  apps/core/src/components/transaction/info/UnstakeTransactionInfo.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix(dasboard): undo the split of the query invalidation
  apps/wallet-dashboard/components/SupplyIncreaseVestingOverview.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix format
  apps/wallet-dashboard/lib/utils/migration/groupMigrationObjects.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat: improve naming and make onSuccess not optional
  apps/wallet-dashboard/components/Dialogs/MigrationDialog.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(sdk): regenerate graphql and json rpc
  sdk/typescript/src/client/types/params.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

Update docs/content/about-iota/iota-wallet/how-to/integrate-ledger.mdx
  docs/content/about-iota/iota-wallet/how-to/integrate-ledger.mdx
Due: none

fix(devx): Fix links and feedback (#4453)
  docs/content/_snippets/info-BST-2f1.mdx
  docs/content/about-iota/iota-architecture/epochs.mdx
  docs/content/operator/iota-full-node/overview.mdx
  nre/docker/README.md
  nre/validator_tasks.md
  nre/validator_tool.md
Due: none

fix: query key for timelocked staking
  apps/core/src/constants/migration.constants.ts
  apps/wallet-dashboard/hooks/useNewStakeTransaction.ts
  apps/wallet-dashboard/lib/constants/vesting.constants.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

Path conditions:
  eslint -c ./linting/.eslintrc.precommit.js --fix: any of: {sdk,apps}/**/*.{ts,js,mjs,tsx}
  prettier --write: any of: {sdk,apps}/**/*.{ts,js,mjs,tsx,scss,css}
