Repository iotaledger/iota: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix: manypkg zod version missmatch
  apps/evm-bridge/package.json
  pnpm-lock.yaml
  sdk/isc-sdk/package.json
Due: none

fixup! refactor(iota-data-ingestion-core): introduce reader & executor v2
  crates/iota-data-ingestion-core/src/executor/v2.rs
  crates/iota-data-ingestion-core/src/reader/v1.rs
  crates/iota-data-ingestion-core/src/reader/v2.rs
Due: none

fix: removu unsued esalint comment
  apps/evm-bridge/src/components/bridge/Bridge.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix(apps-ui-kit): correct input border color classes and improve focus/error state handling
  apps/ui-kit/src/lib/components/molecules/input/input.classes.ts
  apps/ui-kit/src/lib/styles/components.css
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

upstream(node): Remove unused codes and refactor
  crates/iota-benchmark/src/lib.rs
  crates/iota-core/benches/batch_verification_bench.rs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/consensus_validator.rs
  crates/iota-core/src/signature_verifier.rs
  crates/iota-core/src/transaction_orchestrator.rs
  crates/iota-core/src/unit_tests/batch_verification_tests.rs
Due: none

chore(apps-ui-kit): fix prettier format
  apps/ui-kit/.storybook/preview-head.html
Due: none

Fix ci-fmt errors
  crates/iota-benchmark/src/lib.rs
Due: none

add docs
  crates/iota/src/name_commands.rs
Due: none

nits
  crates/iota/src/name_commands.rs
Due: none

non-stackable coupons used
  crates/iota/src/name_commands.rs
Due: none

test: add test_update_congestion_info
  crates/iota-core/src/authority/suggested_gas_price_calculator.rs
Due: none

Revert "feat(apps-ui-kit): update table header cell, title, and accordion variables"
  apps/ui-kit/src/lib/components/molecules/table-header-cell/TableHeaderCell.tsx
  apps/ui-kit/src/lib/components/molecules/title/Title.tsx
  apps/ui-kit/src/lib/components/organisms/accordion/Accordion.tsx
  apps/ui-kit/src/lib/styles/components.css
  apps/ui-kit/src/lib/styles/index.css
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

coupon_str
  crates/iota/src/name_commands.rs
Due: none

prefix
  crates/iota/src/name_commands.rs
Due: none

saturating_sub
  crates/iota/src/name_commands.rs
Due: none

apply_coupons method
  crates/iota/src/name_commands.rs
Due: none

fix: evm bridge prod deply env vars
  .github/workflows/apps_evm-bridge_prod_deploy.yml
  .github/workflows/apps_evm-bridge_testnet_deploy.yml
Due: none

feat(apps-ui-kit): update styles for table header cell, title icon, and accordion border
  apps/ui-kit/src/lib/components/molecules/table-header-cell/TableHeaderCell.tsx
  apps/ui-kit/src/lib/components/molecules/title/Title.tsx
  apps/ui-kit/src/lib/components/organisms/accordion/Accordion.tsx
  apps/ui-kit/src/lib/styles/components.css
  apps/ui-kit/src/lib/styles/index.css
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

clippy
  crates/iota/src/name_commands.rs
Due: none

feat(apps-ui-kit): update color variables for various UI components
  apps/ui-kit/src/lib/styles/index.css
Due: prettier --write

feat(docs): changes made in the scripts, added navbar icons and referencing links updated
  apps/wallet/src/ui/app/pages/home/nft-details/index.tsx
  docs/content/_snippets/about-iota/ledger_devices.mdx
  docs/content/_snippets/iota-evm/EVM-required-prior-knowledge.md
  docs/content/sidebars/iota-evm.js
  docs/site/scripts/get-iota-evm-references.sh
  docs/site/scripts/get-iota-references.sh
  docs/site/src/css/custom.css
  docs/site/src/pages/index.js
  examples/tic-tac-toe/ui/README.md
  sdk/create-dapp/README.md
  sdk/create-dapp/templates/react-client-dapp/README.md
  sdk/create-dapp/templates/react-e2e-counter/README.md
  sdk/dapp-kit/README.md
  sdk/dapp-kit/package.json
  sdk/kiosk/README.md
  sdk/typescript/README.md
  sdk/typescript/package.json
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(sdk): add missing features for passkey
  sdk/typescript/src/bcs/index.ts
  sdk/typescript/src/cryptography/signature.ts
  sdk/typescript/src/verify/verify.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

refactor(ts-sdk): Sync ts-sdk
  sdk/graphql-transport/src/generated/queries.ts
  sdk/typescript/src/client/types/generated.ts
  sdk/typescript/src/graphql/generated/2025.2/schema.graphql
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

refactor(iota-data-ingestion-core): use trait for common local checkpoint handling
  crates/iota-data-ingestion-core/src/reader/fetch.rs
  crates/iota-data-ingestion-core/src/reader/v1.rs
Due: none

review
  crates/iota/src/name_commands.rs
Due: none

fix: evm-bridge tests
  apps/evm-bridge/tests/depositThenWithdraw.spec.ts
  apps/evm-bridge/tests/utils/utils.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

add result variant
  crates/iota/src/name_commands.rs
Due: none

Move Event sample up in generate_format.rs
  crates/iota-core/src/generate_format.rs
Due: none

feat(docs): docs restructure changes and updated the structure changes referencing respectively
  apps/wallet-dashboard/components/dialogs/assets/views/DetailsView.tsx
  dapps/multisig-toolkit/src/routes/multisig-address.tsx
  docs/content/_snippets/about-iota/iota-wallet/balance-finder.md
  docs/content/_snippets/iota-evm/AgentID.md
  docs/content/_snippets/iota-evm/EVM_compatibility.md
  docs/content/_snippets/iota-evm/about-accounts.md
  docs/content/_snippets/iota-evm/deploy_a_smart_contract.md
  docs/content/about-iota/FAQ.mdx
  docs/content/developer/dev-cheat-sheet.mdx
  docs/content/developer/getting-started/get-address.mdx
  docs/content/developer/getting-started/iota-environment.mdx
  docs/content/developer/getting-started/simple-token-transfer.mdx
  docs/content/developer/iota-101/move-overview/package-upgrades/custom-policies.mdx
  docs/content/developer/iota-101/transactions/ptb/building-programmable-transaction-blocks-ts-sdk.mdx
  docs/content/developer/iota-101/transactions/ptb/coin-management.mdx
  docs/content/developer/iota-101/transactions/sign-and-send-transactions.mdx
  docs/content/developer/iota-101/using-events.mdx
  docs/content/developer/iota-evm/tutorials/defi-lend-borrow-tutorial-part-2.md
  docs/content/developer/iota-identity/contribute.mdx
  docs/content/developer/iota-identity/index.mdx
  docs/content/sidebars/identity.js
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix: remove L1 wallet download script
  apps/evm-bridge/scripts/downloadWallet.js
  apps/evm-bridge/scripts/download_wallet_artifact_L1.sh
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat: Allow all name commands to be called on domains and subdomains
  crates/iota/src/name_commands.rs
Due: none

upstream(node): Update fastcrypto
  Cargo.lock
  Cargo.toml
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/consensus_validator.rs
  crates/iota-core/src/epoch/randomness.rs
  crates/iota-network/src/randomness/mod.rs
  crates/iota-network/src/randomness/tests.rs
  crates/iota-types/src/crypto.rs
  crates/iota-types/src/messages_consensus.rs
Due: none

upstream(node): Add salt to TrafficSketch
  crates/iota-core/src/traffic_controller/policies.rs
Due: none

chore: remove test_ prefix
  crates/iota-core/src/authority/suggested_gas_price_calculator.rs
Due: none

feat(apps-ui-kit): update SecondaryText component
  apps/ui-kit/src/lib/components/atoms/secondary-text/SecondaryText.tsx
  apps/ui-kit/src/lib/styles/components.css
  apps/ui-kit/src/lib/styles/index.css
  apps/ui-kit/src/storybook/stories/molecules/TextArea.stories.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

chore: remove test_ prefix in shared_object_congestion_tracker tests
  crates/iota-core/src/authority/shared_object_congestion_tracker.rs
Due: none

fixup! refactor(iota-data-ingestion-core): use trait for common local checkpoint handling
  crates/iota-data-ingestion-core/src/reader/fetch.rs
  crates/iota-data-ingestion-core/src/reader/v1.rs
Due: none

feat: add calculate_suggested_gas_price tests
  crates/iota-core/src/authority/shared_object_congestion_tracker.rs
  crates/iota-core/src/authority/suggested_gas_price_calculator.rs
Due: none

Path conditions:
  eslint -c ./linting/.eslintrc.precommit.js --fix: any of: {sdk,apps}/**/*.{ts,js,mjs,tsx}
  prettier --write: any of: {sdk,apps}/**/*.{ts,js,mjs,tsx,scss,css}
