Repository iotaledger/iota: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

.lintstagedrc.json:

{
    "{sdk,apps}/**/*.{ts,js,mjs,tsx}": "eslint -c ./linting/.eslintrc.precommit.js --fix",
    "{sdk,apps}/**/*.{ts,js,mjs,tsx,scss,css}": "prettier --write"
}

Change default network to testnet
  docs/site/src/theme/Root.tsx
Due: none

Add nicer button style and disconnected text
  docs/site/src/components/PublishMovePackageButton/index.tsx
Due: none

Refactor faucet button
  docs/content/developer/getting-started/get-coins.mdx
  docs/site/src/components/FaucetButton/index.tsx
Due: none

Add some text
  docs/content/developer/getting-started/publish.mdx
Due: none

cleanup
  .changeset/mighty-pans-suffer.md
  docs/site/src/components/PublishMovePackageButton/index.tsx
  docs/site/src/components/PublishMovePackageButton/types.ts
Due: none

docs: Tab tweaks in snapshots.mdx
  docs/content/operator/common/snapshots.mdx
Due: none

feat: include iota-genesis-builder in iota-tools
  docker/iota-tools/Dockerfile
Due: none

Create live concert doc
  docs/content/developer/getting-started/live-concert.mdx
Due: none

Minor Fixes
  docs/content/developer/getting-started/live-concert.mdx
Due: none

Add usage example images
  docs/site/static/img/developer/getting-started/live-concerts/buy-interface.png
  docs/site/static/img/developer/getting-started/live-concerts/buy-resale-successful.png
  docs/site/static/img/developer/getting-started/live-concerts/buy-resale-transaction.png
  docs/site/static/img/developer/getting-started/live-concerts/buy-successful.png
  docs/site/static/img/developer/getting-started/live-concerts/buy-transaction.png
  docs/site/static/img/developer/getting-started/live-concerts/buyresale-interface.png
  docs/site/static/img/developer/getting-started/live-concerts/dashboard.png
  docs/site/static/img/developer/getting-started/live-concerts/other-user.png
  docs/site/static/img/developer/getting-started/live-concerts/resale-interface.png
  docs/site/static/img/developer/getting-started/live-concerts/resale-successful.png
  docs/site/static/img/developer/getting-started/live-concerts/resale-transaction.png
  docs/site/static/img/developer/getting-started/live-concerts/tickets-resale.png
  docs/site/static/img/developer/getting-started/live-concerts/tickets.png
  docs/site/static/img/developer/getting-started/live-concerts/wallet-connected.png
Due: none

Add doc path
  docs/content/sidebars/developer.js
Due: none

refactor(tooling-core): Remove duplicated `useTransactionData`
  apps/core/src/hooks/index.ts
  apps/core/src/hooks/useTransactionData.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

docs: Add separate node templates for each network
  crates/iota-config/data/fullnode-tamplate-testnet.yaml
  crates/iota-config/data/fullnode-template-devnet.yaml
Due: none

docs: Add network page and snippets
  docs/content/_snippets/network-node-config-devnet.mdx
  docs/content/_snippets/network-node-config-testnet.mdx
  docs/content/operator/common/network.mdx
  docs/content/operator/full-node/configs/network.mdx
Due: none

docs: Add node configuration page
  docs/content/operator/full-node/configuration.mdx
  docs/content/operator/full-node/overview.mdx
  docs/content/operator/index.mdx
  docs/content/sidebars/operator.js
Due: none

Add tags
  docs/content/developer/getting-started/live-concert.mdx
Due: none

feat: add hook
  apps/core/src/hooks/index.ts
  apps/core/src/hooks/useMultiGetNormalizedObjects.ts
  apps/explorer/src/pages/validators/Validators.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

Update ssfn diagram
  docs/content/operator/ssfn-diagram.png
Due: none

fix(custom-indexer): missing worker associated error type
  examples/custom-indexer/rust/local_reader.rs
  examples/custom-indexer/rust/remote_reader.rs
Due: none

fix: words duplications
  apps/explorer/README.md
  apps/explorer/src/pages/validators/Validators.tsx
  crates/iota-core/src/execution_cache/writeback_cache.rs
  crates/iota-framework/packages/iota-framework/sources/coin.move
  crates/iota-graphql-rpc/schema.graphql
  crates/iota-graphql-rpc/src/config.rs
  crates/iota-graphql-rpc/tests/snapshots/snapshot_tests__schema_sdl_export.snap
  crates/iota-move-build/src/lib.rs
  crates/iota-network/src/discovery/mod.rs
  crates/iota/src/keytool.rs
  docs/content/references/cli/keytool.mdx
  docs/content/ts-sdk/api/cryptography/classes/PublicKey.md
  docs/content/ts-sdk/api/keypairs/ed25519/classes/Ed25519PublicKey.md
  docs/content/ts-sdk/api/keypairs/secp256k1/classes/Secp256k1PublicKey.md
  docs/content/ts-sdk/api/multisig/classes/MultiSigPublicKey.md
  docs/content/ts-sdk/dapp-kit/rpc-hooks.mdx
  docs/content/ts-sdk/dapp-kit/wallet-hooks/useSignPersonalMessage.mdx
  docs/content/ts-sdk/dapp-kit/wallet-hooks/useSignTransaction.mdx
  docs/examples/move/ctf/README.md
  docs/examples/rust/stardust/basic-output-claim.rs
  docs/examples/rust/stardust/nft-output-claim.rs
  docs/examples/typescript/src/stardust/basic-output-claim.ts
  docs/examples/typescript/src/stardust/nft-output-claim.ts
  scripts/codesearch/search_versions.py
  sdk/graphql-transport/src/generated/queries.ts
  sdk/typescript/src/cryptography/publickey.ts
  sdk/typescript/src/graphql/generated/2024.11/schema.graphql
  sdk/typescript/src/keypairs/ed25519/publickey.ts
  sdk/typescript/src/keypairs/secp256k1/publickey.ts
  sdk/typescript/src/keypairs/secp256r1/publickey.ts
  sdk/typescript/src/multisig/publickey.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fmt
  examples/tic-tac-toe/cli/src/client.rs
Due: none

Init ssfn guide changes
  docs/content/operator/ssfn_guide.md
  docs/content/operator/ssfn_guide.mdx
  docs/content/sidebars/operator.js
Due: none

Update crates/iota-transactional-test-runner/syntax.md
  crates/iota-transactional-test-runner/syntax.md
Due: none

Apply suggestions from code review
  docs/site/src/components/FeedbackForm/index.tsx
  docs/site/src/components/Quiz/index.tsx
Due: none

fix(explorer): scrollbar issues in firefox
  apps/explorer/src/components/owned-coins/OwnedCoinsPanel.tsx
  apps/ui-kit/src/lib/styles/index.css
  apps/ui-kit/src/lib/tailwind/base.presets.ts
  apps/ui-kit/src/lib/tailwind/plugins.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(dashboard): load whole tx history WIP
  apps/core/src/hooks/index.ts
  apps/core/src/hooks/useGetTransactionsByAddress.ts
  apps/wallet-dashboard/components/transactions/TransactionsList.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix(explorer): prevent panels being too large
  apps/explorer/src/components/module/PkgModulesWrapper.tsx
  apps/explorer/src/components/owned-coins/OwnedCoins.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat: bump iota to v0.9.2-rc
  Cargo.lock
  Cargo.toml
  crates/iota-open-rpc/spec/openrpc.json
Due: none

fix: improve themed styles
  apps/ui-kit/src/lib/styles/index.css
Due: prettier --write

feat: changeset
  .changeset/flat-suits-tie.md
Due: none

feat: bump iota to v0.9.2-rc (#5325)
  Cargo.lock
  Cargo.toml
  crates/iota-open-rpc/spec/openrpc.json
Due: none

refactor: always dry run to estimate total gas in staking txs
  apps/core/src/hooks/stake/index.ts
  apps/core/src/hooks/stake/useStakingGasBudgetEstimation.ts
  apps/wallet-dashboard/hooks/useNewStakeTransaction.ts
  apps/wallet/src/ui/app/hooks/index.ts
  apps/wallet/src/ui/app/hooks/useTransactionDryRunWithoutSigner.ts
  apps/wallet/src/ui/app/staking/stake/StakeForm.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(linting): update header notice
  linting/license-check/rules/license-check.rule.js
Due: none

fix: handle all headers from custom rule
  .eslintrc.js
  linting/license-check/rules/license-check.rule.js
Due: none

refactor: change Worker api to take &CheckpointData
  crates/iota-analytics-indexer/src/analytics_processor.rs
  crates/iota-analytics-indexer/src/handlers/checkpoint_handler.rs
  crates/iota-analytics-indexer/src/handlers/df_handler.rs
  crates/iota-analytics-indexer/src/handlers/event_handler.rs
  crates/iota-analytics-indexer/src/handlers/move_call_handler.rs
  crates/iota-analytics-indexer/src/handlers/object_handler.rs
  crates/iota-analytics-indexer/src/handlers/package_handler.rs
  crates/iota-analytics-indexer/src/handlers/transaction_handler.rs
  crates/iota-analytics-indexer/src/handlers/transaction_objects_handler.rs
  crates/iota-analytics-indexer/src/handlers/wrapped_object_handler.rs
  crates/iota-analytics-indexer/src/lib.rs
  crates/iota-data-ingestion-core/src/lib.rs
  crates/iota-data-ingestion-core/src/tests.rs
  crates/iota-data-ingestion-core/src/worker_pool.rs
  crates/iota-data-ingestion/src/workers/archival.rs
  crates/iota-data-ingestion/src/workers/blob.rs
  crates/iota-data-ingestion/src/workers/kv_store.rs
  crates/iota-indexer-builder/src/iota_datasource.rs
  crates/iota-indexer/src/handlers/checkpoint_handler.rs
  crates/iota-indexer/src/handlers/objects_snapshot_processor.rs
Due: none

fix: report eslint error and return
  linting/license-check/rules/license-check.rule.js
Due: none

refactor(examples): change Worker api to take &CheckpointData
  examples/custom-indexer/rust/local_reader.rs
  examples/custom-indexer/rust/remote_reader.rs
Due: none

fix(dashboard): fetch new page when scrollint
  apps/wallet-dashboard/components/VirtualList.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write
