Repository iotaledger/iota: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

.lintstagedrc.json:

{
    "{sdk,apps}/**/*.{ts,js,mjs,tsx}": "eslint -c ./linting/.eslintrc.precommit.js --fix",
    "{sdk,apps}/**/*.{ts,js,mjs,tsx,scss,css}": "prettier --write"
}

Add missing comment to protocol version history comment
  crates/iota-protocol-config/src/lib.rs
Due: none

fix(docs): temporary fix for autogenerated sidebar
  docs/content/sidebars/references.js
Due: none

chore: Fix dprint
  .github/workflows/apps_evm-bridge_prod_deploy.yml
  .github/workflows/apps_evm-bridge_testnet_deploy.yml
Due: none

fix: Fix isc-sdk tsconfig
  sdk/isc-sdk/tsconfig.json
Due: none

update with grammarly changes
  docs/content/operator/gas-station/architecture/features.mdx
Due: none

fix: isc-sdk lint
  sdk/isc-sdk/package.json
Due: none

fix: evm-bridge lint
  apps/evm-bridge/package.json
Due: none

fix(apps-ui-kit): update table header cell, title, and accordion styles
  apps/ui-kit/src/lib/components/molecules/table-header-cell/TableHeaderCell.tsx
  apps/ui-kit/src/lib/components/molecules/title/Title.tsx
  apps/ui-kit/src/lib/components/organisms/accordion/Accordion.tsx
  apps/ui-kit/src/lib/styles/components.css
  apps/ui-kit/src/lib/styles/index.css
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(apps-ui-kit): update table header cell, title, and accordion variables
  apps/ui-kit/src/lib/components/molecules/table-header-cell/TableHeaderCell.tsx
  apps/ui-kit/src/lib/components/molecules/title/Title.tsx
  apps/ui-kit/src/lib/components/organisms/accordion/Accordion.tsx
  apps/ui-kit/src/lib/styles/components.css
  apps/ui-kit/src/lib/styles/index.css
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

skip test
  sdk/graphql-transport/test/compatibility.test.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fmt
  sdk/graphql-transport/src/transport.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

cleaned up
  sdk/graphql-transport/src/transport.ts
  sdk/graphql-transport/test/compatibility.test.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

clean up
  sdk/graphql-transport/src/transport.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat: add tests for passkey
  sdk/typescript/src/cryptography/signature-scheme.ts
  sdk/typescript/src/keypairs/passkey/index.ts
  sdk/typescript/src/keypairs/passkey/keypair.ts
  sdk/typescript/src/keypairs/passkey/publickey.ts
  sdk/typescript/test/unit/cryptography/passkey.test.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(apps-ui-kit): add color variables for buttons
  apps/ui-kit/src/lib/styles/base.css
  apps/ui-kit/src/lib/styles/index.css
Due: prettier --write

fmt
  sdk/kiosk/src/query/kiosk.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fmt
  apps/wallet-dashboard/lib/utils/migration/groupMigrationObjects.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix(ts-graphql): GraphQL fixes in mapping and transport methods (#7342)
  .changeset/two-months-deliver.md
  sdk/graphql-transport/src/mappers/object.ts
  sdk/graphql-transport/src/methods.ts
  sdk/graphql-transport/src/transport.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

apply coupons to price
  Cargo.lock
  crates/iota/Cargo.toml
  crates/iota/src/name_commands.rs
Due: none

fix(ci): Add evm-bridge envs to test:e2e CI
  .github/workflows/_e2e.yml
Due: none

apply_coupon method
  crates/iota/src/name_commands.rs
Due: none

add coupons to renew command
  crates/iota/src/name_commands.rs
Due: none

CouponHouse::new
  crates/iota/src/name_commands.rs
Due: none

remove entries
  crates/iota/src/name_commands.rs
Due: none

put blake2 under name feature
  crates/iota/Cargo.toml
Due: none

nit
  crates/iota/src/name_commands.rs
Due: none

DummyKey
  crates/iota/src/name_commands.rs
Due: none

feat(ts-sdk): add tests for passkeys
  sdk/typescript/src/cryptography/signature-scheme.ts
  sdk/typescript/src/keypairs/passkey/index.ts
  sdk/typescript/src/keypairs/passkey/keypair.ts
  sdk/typescript/src/keypairs/passkey/publickey.ts
  sdk/typescript/test/unit/cryptography/passkey.test.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

chore: update iota-rust-sdk rev and bump toml_edit version
  Cargo.lock
  Cargo.toml
  iota-execution/cut/Cargo.toml
Due: none

fix(ci): Pass the secrets from caller workflow
  .github/workflows/_e2e.yml
  .github/workflows/turbo_hierarchy.yml
Due: none

fix(ci): Pass the secrets from caller workflow
  .github/workflows/_e2e.yml
Due: none

fix(ci): Define secrets in child workflow
  .github/workflows/_e2e.yml
Due: none

fix(ci): Add playwright browser install for evm-bridge. Temporarily move evm-bridge tests first for debugging.
  .github/workflows/_e2e.yml
Due: none

fix(ci): Temporarily move evm-bridge tests first for debugging
  .github/workflows/_e2e.yml
Due: none

fix(ci): Ignore iota binary temporarily for fail-fast. Install playwright browser centralized for both evm-bridge and explorer.
  .github/workflows/_e2e.yml
  apps/evm-bridge/package.json
Due: none

fix(ci): Install correct version of playwirght browsers
  .github/workflows/_e2e.yml
Due: none

fix(ci): Remove temp edits of _e2e.yaml as tests run now
  .github/workflows/_e2e.yml
  apps/evm-bridge/package.json
Due: none

feat: impl calculations for one commit
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/authority/suggested_gas_price_calculator.rs
Due: none

fix: zode version missmatch
  apps/evm-bridge/package.json
  pnpm-lock.yaml
  sdk/isc-sdk/package.json
Due: none
