Repository iotaledger/iota: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

.lintstagedrc.json:

{
    "{sdk,apps}/**/*.{ts,js,mjs,tsx}": "eslint -c ./linting/.eslintrc.precommit.js --fix",
    "{sdk,apps}/**/*.{ts,js,mjs,tsx,scss,css}": "prettier --write"
}

Fix document
  docs/content/developer/advanced/create-review-rating-dao-with-multisig.mdx
Due: none

feat(tooling-sdk): Sync json/graphql RPC with TS SDK
  pnpm-workspace.yaml
  sdk/graphql-transport/codegen.ts
  sdk/graphql-transport/src/generated/queries.ts
  sdk/graphql-transport/src/methods.ts
  sdk/graphql-transport/src/queries/getLatestIotaSystemState.graphql
  sdk/typescript/graphql/schemas/2024.10/package.json
  sdk/typescript/graphql/schemas/2024.9/package.json
  sdk/typescript/package.json
  sdk/typescript/src/client/types/generated.ts
  sdk/typescript/src/graphql/generated/2024.10/schema.graphql
  sdk/typescript/src/graphql/generated/2024.10/tada-env.d.ts
  sdk/typescript/src/graphql/generated/2024.10/tsconfig.tada.json
  sdk/typescript/src/graphql/schemas/2024.10/index.ts
  sdk/typescript/test/e2e/graphql.test.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

Remove throughput_aware_consensus_submission protocol param
  crates/iota-core/src/consensus_adapter.rs
  crates/iota-protocol-config/src/lib.rs
Due: none

Update crates/iota-e2e-tests/tests/traffic_control_tests.rs
  crates/iota-e2e-tests/tests/traffic_control_tests.rs
Due: none

fix: use font-variant-alternates instead of font-feature-settings
  apps/ui-kit/src/lib/styles/index.css
Due: prettier --write

feat(tooling-sdk): Simplify version change in update-graphql-schemas
  sdk/typescript/scripts/update-graphql-schemas.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(tooling-sdk): Update Move.lock(s) in typescript e2e tests
  sdk/typescript/test/e2e/data/coin_metadata/Move.lock
  sdk/typescript/test/e2e/data/dynamic_fields/Move.lock
  sdk/typescript/test/e2e/data/id_entry_args/Move.lock
  sdk/typescript/test/e2e/data/serializer/Move.lock
Due: none

Update openrpc.json
  crates/iota-open-rpc/spec/openrpc.json
Due: none

fix format
  apps/ui-kit/src/lib/styles/index.css
Due: prettier --write

fix: add overflow-y-auto
  apps/explorer/src/components/owned-objects/ListView.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat: remove `zklogin_supported_providers` param
  crates/iota-core/benches/batch_verification_bench.rs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/signature_verifier.rs
  crates/iota-core/src/unit_tests/batch_verification_tests.rs
  crates/iota-graphql-rpc/src/types/zklogin_verify_signature.rs
  crates/iota-protocol-config/src/lib.rs
  crates/iota-types/src/signature.rs
  crates/iota-types/src/unit_tests/multisig_tests.rs
  crates/iota-types/src/unit_tests/zk_login_authenticator_test.rs
  crates/iota-types/src/zk_login_authenticator.rs
Due: none

Fix clippy
  crates/iota-core/src/consensus_adapter.rs
Due: none

fix: (e2e-test) Remove unused dependency
  Cargo.lock
  crates/iota-core/Cargo.toml
Due: none

Apply suggestions from code review
  docs/content/developer/iota-move-ctf/challenge_1.mdx
  docs/content/developer/iota-move-ctf/challenge_2.mdx
  docs/content/developer/iota-move-ctf/challenge_3.mdx
  docs/content/developer/iota-move-ctf/challenge_6.mdx
  docs/content/developer/iota-move-ctf/challenge_8.mdx
Due: none

feat(docs): Change info to tip
  docs/content/developer/iota-move-ctf/challenge_8.mdx
Due: none

feat(docs): Change info to tip
  docs/content/developer/iota-move-ctf/challenge_2.mdx
  docs/content/developer/iota-move-ctf/challenge_3.mdx
  docs/content/developer/iota-move-ctf/challenge_4.mdx
  docs/content/developer/iota-move-ctf/challenge_5.mdx
  docs/content/developer/iota-move-ctf/challenge_6.mdx
Due: none

Remove `consensus_throughput_calculator` because it's unused
  crates/iota-core/src/consensus_adapter.rs
  crates/iota-core/src/consensus_handler.rs
  crates/iota-core/src/consensus_throughput_calculator.rs
  crates/iota-core/src/lib.rs
  crates/iota-node/src/lib.rs
Due: none

fix(docs): broken links
  docs/content/developer/iota-move-ctf/challenge_8.mdx
Due: none

Fix cargo check reported errors
  crates/iota-core/src/authority_server.rs
  crates/iota-core/src/consensus_adapter.rs
  crates/iota-core/src/consensus_handler.rs
  crates/iota-core/src/epoch/randomness.rs
  crates/iota-core/src/unit_tests/consensus_tests.rs
  crates/iota-core/src/unit_tests/execution_driver_tests.rs
  crates/iota-node/src/lib.rs
  crates/iota-single-node-benchmark/src/single_node.rs
Due: none

test different policy
  crates/iota-e2e-tests/tests/traffic_control_tests.rs
Due: none

fix(docs): apply dprint
  docs/examples/move/ctf/README.md
  docs/examples/move/ctf/challenge_1/Move.toml
  docs/examples/move/ctf/challenge_1/README.md
  docs/examples/move/ctf/challenge_2/Move.toml
  docs/examples/move/ctf/challenge_2/README.md
  docs/examples/move/ctf/challenge_3/Move.toml
  docs/examples/move/ctf/challenge_4/Move.toml
  docs/examples/move/ctf/challenge_5/Move.toml
  docs/examples/move/ctf/challenge_6/Move.toml
  docs/examples/move/ctf/challenge_6/README.md
  docs/examples/move/ctf/challenge_7/Move.toml
  docs/examples/move/ctf/challenge_7/README.md
  docs/examples/move/ctf/challenge_8/Move.toml
  docs/examples/move/ctf/challenge_8/README.md
  docs/examples/move/ctf/verifier/Move.toml
Due: none

fix(docs/standards): minor docs refactoring
  docs/content/developer/standards/coin.mdx
  docs/content/developer/standards/kiosk-apps.mdx
  docs/content/developer/standards/kiosk.mdx
Due: none

use HashSet instead of Vec
  crates/iota/src/client_commands.rs
  crates/iota/src/client_ptb/ptb.rs
  crates/iota/tests/cli_tests.rs
Due: none

feat(wallet): remove ButtonOrLink
  apps/wallet/src/ui/app/components/IconButton.tsx
  apps/wallet/src/ui/app/components/PasswordInputDialog.tsx
  apps/wallet/src/ui/app/components/accounts/AccountBalanceItem.tsx
  apps/wallet/src/ui/app/components/index.ts
  apps/wallet/src/ui/app/components/menu/button/MenuButton.module.scss
  apps/wallet/src/ui/app/components/menu/button/WalletSettingsButton.tsx
  apps/wallet/src/ui/app/components/menu/content/AutoLockAccounts.tsx
  apps/wallet/src/ui/app/pages/accounts/manage/accounts-finder/AccountsFinderView.tsx
  apps/wallet/src/ui/app/shared/ButtonUI.tsx
  apps/wallet/src/ui/app/shared/tooltip/index.tsx
  apps/wallet/src/ui/app/shared/utils/ButtonOrLink.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

chore(iota-framework-snapshot): update manifest
  crates/iota-framework-snapshot/manifest.json
Due: none

fix(iota-storage): msim tests compilation
  crates/iota-storage/Cargo.toml
  crates/iota-storage/tests/key_value_tests.rs
Due: none

fix(iota-benchmark): msim tests compilation
  crates/iota-benchmark/Cargo.toml
  crates/iota-benchmark/tests/simtest.rs
Due: none

chore: remove unnecessary CI tree debugs on lint
  .github/workflows/_turborepo.yml
Due: none

chore: remove unnecessary no-emit
  apps/ui-kit/tsconfig.base.json
Due: none

chore: fix linter
  apps/explorer/tsconfig.json
  apps/wallet/configs/ts/tsconfig.common.json
Due: none

chore(iota-graphql-e2e-tests): comment digest resolution in event_connection tests
  crates/iota-graphql-e2e-tests/tests/event_connection/tx_digest.exp
  crates/iota-graphql-e2e-tests/tests/event_connection/tx_digest.move
  crates/iota-graphql-e2e-tests/tests/event_connection/type_param_filter.exp
  crates/iota-graphql-e2e-tests/tests/event_connection/type_param_filter.move
Due: none

revert: noEmit
  apps/ui-kit/tsconfig.base.json
Due: none

fix test
  sdk/typescript/test/e2e/read-transactions.test.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix(devx): typos in admonitions
  docs/content/developer/iota-101/transactions/ptb/simulating-references.mdx
  docs/content/developer/iota-101/transactions/sign-and-send-transactions.mdx
Due: none

fix the actual test that is failing
  sdk/typescript/test/e2e/read-transactions.test.ts
  sdk/typescript/test/e2e/utils/setup.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

try-catch
  sdk/typescript/test/e2e/utils/setup.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

initial commit
  crates/iota-benchmark/src/lib.rs
  crates/iota-core/src/authority_aggregator.rs
  crates/iota-core/src/authority_server.rs
  crates/iota-core/src/safe_client.rs
  crates/iota-core/src/unit_tests/authority_aggregator_tests.rs
  crates/iota-core/src/unit_tests/transaction_tests.rs
  crates/iota-core/src/validator_tx_finalizer.rs
  crates/iota-e2e-tests/tests/reconfiguration_tests.rs
  crates/iota-single-node-benchmark/src/single_node.rs
  crates/iota-types/src/messages_grpc.rs
Due: none
