Repository iotaledger/iota: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

.lintstagedrc.json:

{
    "{sdk,apps}/**/*.{ts,js,mjs,tsx}": "eslint -c ./linting/.eslintrc.precommit.js --fix",
    "{sdk,apps}/**/*.{ts,js,mjs,tsx,scss,css}": "prettier --write"
}

feat: improve type truncation
  apps/explorer/src/lib/ui/utils/generateObjectListColumns.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix(iota-core): assert in case if an advance epoch transaction was executed in the safe mode
  crates/iota-core/src/authority.rs
  crates/iota-core/src/checkpoints/mod.rs
Due: none

fix(iota-json-rpc-tests): Remove CurrencyCreated in get_normalized_move_module
  crates/iota-json-rpc-tests/tests/move_utils.rs
Due: none

feat: refine grid
  apps/wallet-dashboard/app/globals.css
Due: prettier --write

feat: refine staking overview
  apps/wallet-dashboard/components/staking-overview/StakingData.tsx
  apps/wallet-dashboard/components/staking-overview/StakingInfo.tsx
  apps/wallet-dashboard/components/staking-overview/StakingOverview.tsx
  apps/wallet-dashboard/components/staking-overview/StartStaking.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat: Add unit test for formatters
  sdk/typescript/test/unit/format.test.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fmt
  sdk/typescript/test/unit/format.test.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

chore(ci): harmonize workflow file names with `_`
  .github/workflows/_vercel_deploy.yml
  .github/workflows/apps_backend_deploy.yml
  .github/workflows/apps_explorer_deploy.yml
  .github/workflows/apps_ui_kit_deploy.yml
  .github/workflows/apps_wallet_dashboard_deploy.yml
  .github/workflows/apps_wallet_nightly_build.yml
  .github/workflows/apps_wallet_rc_build.yml
  .github/workflows/build_nightly.yml
  .github/workflows/cargo_llvm_cov.yml
  .github/workflows/changesets_ci.yml
  .github/workflows/changesets_ci_comment.yml
  .github/workflows/changesets_publish.yml
  .github/workflows/crate_docs.yml
  .github/workflows/develop_ci_slack_report.yml
  .github/workflows/preview_wiki.yml
  .github/workflows/release_docker.yml
  .github/workflows/release_notes_monitor.yml
  .github/workflows/release_wiki.yml
  .github/workflows/simulator_nightly.yml
  .github/workflows/split_cluster.yml
  .github/workflows/trigger_builds.yml
Due: none

fix(iota-json-rpc-tests): Remove supply in get_normalized_move_module
  crates/iota-json-rpc-tests/tests/move_utils.rs
Due: none

Apply suggestions from code review
  crates/iota-core/src/authority_aggregator.rs
Due: none

Rename effects -> signed_effects + fix typos
  crates/iota-benchmark/src/lib.rs
  crates/iota-core/src/authority_aggregator.rs
  crates/iota-core/src/authority_server.rs
  crates/iota-core/src/safe_client.rs
  crates/iota-core/src/test_authority_clients.rs
  crates/iota-core/src/unit_tests/authority_aggregator_tests.rs
  crates/iota-core/src/validator_tx_finalizer.rs
  crates/iota-single-node-benchmark/src/single_node.rs
  crates/iota-types/src/messages_grpc.rs
  crates/test-cluster/src/lib.rs
Due: none

Update crates/iota-sdk/src/error.rs
  crates/iota-sdk/src/error.rs
Due: none

feat: add toast after copye address
  apps/wallet-dashboard/app/layout.tsx
  apps/wallet-dashboard/components/account-balance/AccountBalance.tsx
  apps/wallet-dashboard/package.json
  pnpm-lock.yaml
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix(iota-json-rpc-tests): Remove math module in get_normalized_move_modules_by_package
  crates/iota-json-rpc-tests/tests/move_utils.rs
Due: none

feat: rename anum and variabel
  apps/core/src/constants/features.enum.ts
  apps/wallet-dashboard/app/(protected)/components/sidebar/Sidebar.tsx
  apps/wallet-dashboard/app/(protected)/migrations/page.tsx
  apps/wallet-dashboard/app/(protected)/vesting/page.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(wallet-dashboard): add grid for visual assets
  apps/core/src/hooks/index.ts
  apps/core/src/hooks/useCursorPagination.ts
  apps/explorer/src/components/activity/EpochsActivityTable.tsx
  apps/explorer/src/components/activity/TransactionsActivityTable.tsx
  apps/explorer/src/components/checkpoints/CheckpointsTable.tsx
  apps/explorer/src/components/owned-objects/OwnedObjects.tsx
  apps/explorer/src/components/ui/Pagination.tsx
  apps/explorer/src/pages/checkpoints/CheckpointTransactionBlocks.tsx
  apps/wallet-dashboard/app/(protected)/assets/page.tsx
  apps/wallet-dashboard/app/globals.css
  apps/wallet-dashboard/components/Cards/AssetCard.tsx
  apps/wallet-dashboard/components/PageSizeSelector.tsx
  apps/wallet-dashboard/components/PaginationOptions.tsx
  apps/wallet-dashboard/components/index.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

chores: Remove unecessary blank line
  crates/iota-json-rpc-tests/tests/move_utils.rs
Due: none

fix
  apps/core/src/constants/features.enum.ts
  apps/wallet-dashboard/app/(protected)/migrations/page.tsx
  apps/wallet-dashboard/app/(protected)/vesting/page.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(Wallet-dashboard): add styles for non visual assets
  apps/wallet-dashboard/app/(protected)/assets/page.tsx
  apps/wallet-dashboard/components/AssetCard.tsx
  apps/wallet-dashboard/components/AssetsList.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

cleanup
  apps/wallet-dashboard/components/Coins/CoinIcon.tsx
  apps/wallet-dashboard/components/ImageIcon.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix(node): update specs and test baselines
  crates/iota-graphql-e2e-tests/tests/available_range/available_range.exp
  crates/iota-graphql-e2e-tests/tests/call/simple.exp
  crates/iota-graphql-e2e-tests/tests/epoch/chain_identifier.exp
  crates/iota-graphql-e2e-tests/tests/limits/directives.exp
  crates/iota-graphql-e2e-tests/tests/objects/display.exp
  crates/iota-rest-api/openapi/openapi.json
Due: none

cleanup and remove extraneous changes
  crates/iota-benchmark/src/lib.rs
  crates/iota-sdk/src/apis/event.rs
  crates/iota-sdk/src/apis/mod.rs
  crates/iota-sdk/src/apis/read.rs
  crates/iota-sdk/src/lib.rs
  crates/iota/src/fire_drill.rs
Due: none

chore(iota-types/gas): remove old cost tables
  crates/iota-types/src/gas_model/gas_predicates.rs
  crates/iota-types/src/gas_model/tables.rs
  iota-execution/latest/iota-adapter/src/gas_charger.rs
  iota-execution/v0/iota-adapter/src/gas_charger.rs
Due: none

refactor(iota-types/gas): remove dont_charge_budget_on_storage_oog
  crates/iota-types/src/gas_model/gas_predicates.rs
  iota-execution/latest/iota-adapter/src/gas_charger.rs
  iota-execution/v0/iota-adapter/src/gas_charger.rs
Due: none

feat(iota-indexer): Refactor ExtendedApi tests in indexer to use shared test cluster
  crates/iota-cluster-test/src/cluster.rs
  crates/iota-graphql-rpc/src/test_infra/cluster.rs
  crates/iota-indexer/src/test_utils.rs
  crates/iota-indexer/tests/common/mod.rs
  crates/iota-indexer/tests/ingestion_tests.rs
  crates/iota-indexer/tests/rpc-tests/extended_api.rs
  crates/iota-indexer/tests/rpc-tests/main.rs
Due: none

Reuse function for finding available port/socket
  crates/iota-indexer/tests/common/mod.rs
Due: none

Remove SimulacrumApiTestEnvDefinition type, rename InitializedSimulacrumEnv type
  crates/iota-indexer/tests/common/mod.rs
  crates/iota-indexer/tests/rpc-tests/extended_api.rs
Due: none

Use &str instad of String for database_name where possible
  crates/iota-graphql-rpc/src/test_infra/cluster.rs
  crates/iota-indexer/src/test_utils.rs
  crates/iota-indexer/tests/common/mod.rs
Due: none

Get rid of the `replace_db_name` function
  crates/iota-indexer/tests/common/mod.rs
Due: none

Fixes after rebase on recent feature branch
  crates/iota-graphql-rpc/src/test_infra/cluster.rs
  crates/iota-indexer/src/test_utils.rs
  crates/iota-indexer/tests/common/mod.rs
  crates/iota-indexer/tests/ingestion_tests.rs
  crates/iota-indexer/tests/rpc-tests/extended_api.rs
Due: none

refactor(iota-types/gas): remove gas_price_too_high
  crates/iota-types/src/gas.rs
  crates/iota-types/src/gas_model/gas_predicates.rs
Due: none

fix: rename folder
  apps/wallet-dashboard/components/coins/CoinIcon.tsx
  apps/wallet-dashboard/components/coins/CoinItem.tsx
  apps/wallet-dashboard/components/coins/MyCoins.tsx
  apps/wallet-dashboard/components/coins/index.ts
  apps/wallet-dashboard/components/index.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

Update README to run tests with `--test-threads 1`
  crates/iota-indexer/README.md
Due: none

refactor(iota-types/gas): remove charge_input_as_memory
  crates/iota-types/src/gas_model/gas_predicates.rs
  crates/iota-types/src/gas_model/tables.rs
Due: none

refactor(iota-types/gas): remove use_legacy_abstract_size
  crates/iota-types/src/gas_model/gas_predicates.rs
  crates/iota-types/src/gas_model/tables.rs
Due: none

fix(iota-core): code cleanup
  crates/iota-core/src/authority.rs
Due: none

refactor(iota-types/gas): remove charge_upgrades
  crates/iota-types/src/gas_model/gas_predicates.rs
  iota-execution/latest/iota-adapter/src/gas_charger.rs
  iota-execution/v0/iota-adapter/src/gas_charger.rs
Due: none

Fix CLI Faucet test
  crates/iota/tests/cli_tests.rs
Due: none

feat(iota-indexer): Refactor ExtendedApi tests in indexer to use shared test cluster (#3018)
  crates/iota-cluster-test/src/cluster.rs
  crates/iota-graphql-rpc/src/test_infra/cluster.rs
  crates/iota-indexer/README.md
  crates/iota-indexer/src/test_utils.rs
  crates/iota-indexer/tests/common/mod.rs
  crates/iota-indexer/tests/ingestion_tests.rs
  crates/iota-indexer/tests/rpc-tests/extended_api.rs
  crates/iota-indexer/tests/rpc-tests/main.rs
Due: none

chore(iota-protocol-config): move gas model version from 8 to 1
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-protocol-config/src/lib.rs
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Mainnet_version_1.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Testnet_version_1.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__version_1.snap
  crates/iota-types/src/gas_model/tables.rs
  iota-execution/latest/iota-adapter/src/gas_charger.rs
  iota-execution/v0/iota-adapter/src/gas_charger.rs
Due: none
