Repository iotaledger/iota: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix(tooling-ci): Update vercel deploy production name job
  .github/workflows/_vercel_deploy.yml
Due: none

feat: refine tx and rename folders
  apps/ui-kit/src/lib/components/molecules/card/card.classes.ts
  apps/wallet-dashboard/app/(protected)/home/page.tsx
  apps/wallet-dashboard/components/Popup/Popups/TransactionDetailsPopup.tsx
  apps/wallet-dashboard/components/TransactionIcon.tsx
  apps/wallet-dashboard/components/TransactionTile.tsx
  apps/wallet-dashboard/components/VirtualList.tsx
  apps/wallet-dashboard/components/index.ts
  apps/wallet-dashboard/components/transactions/GasSummary.tsx
  apps/wallet-dashboard/components/transactions/StakeTransactionCard.tsx
  apps/wallet-dashboard/components/transactions/TransactionAmount.tsx
  apps/wallet-dashboard/components/transactions/TransactionIcon.tsx
  apps/wallet-dashboard/components/transactions/TransactionSummary.tsx
  apps/wallet-dashboard/components/transactions/TransactionTile.tsx
  apps/wallet-dashboard/components/transactions/TransactionsList.tsx
  apps/wallet-dashboard/components/transactions/TransactionsOverview.tsx
  apps/wallet-dashboard/components/transactions/UnstakeTransactionCard.tsx
  apps/wallet-dashboard/components/transactions/balance-changes/BalanceChangeEntries.tsx
  apps/wallet-dashboard/components/transactions/balance-changes/BalanceChangeEntry.tsx
  apps/wallet-dashboard/components/transactions/balance-changes/BalanceChanges.tsx
  apps/wallet-dashboard/components/transactions/balance-changes/index.ts
  apps/wallet-dashboard/components/transactions/index.ts
  apps/wallet-dashboard/components/transactions/object-changes/ObjectChangeEntry.tsx
  apps/wallet-dashboard/components/transactions/object-changes/ObjectChanges.tsx
  apps/wallet-dashboard/components/transactions/object-changes/ObjectDetail.tsx
  apps/wallet-dashboard/components/transactions/object-changes/index.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

minor fix
  apps/wallet/src/ui/app/shared/dapp-status/index.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat: add videos
  apps/wallet-dashboard/components/staking-overview/StakingOverview.tsx
  apps/wallet-dashboard/components/staking-overview/StartStaking.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix format
  apps/wallet-dashboard/app/globals.css
Due: prettier --write

feat(apps-backend): add e2e tests.
  apps/apps-backend/jest-e2e.json
  apps/apps-backend/package.json
  apps/apps-backend/src/app.module.ts
  apps/apps-backend/src/health/health.controller.ts
  apps/apps-backend/src/health/health.module.ts
  apps/apps-backend/test/health.e2e-spec.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(apps-backend): add e2e tests to CI for testing.
  .github/workflows/_e2e.yml
  .github/workflows/hierarchy.yml
Due: none

feat(apps-backend): move e2e tests to another config.
  .github/workflows/_e2e.yml
  .github/workflows/apps_backend_deploy.yml
  .github/workflows/hierarchy.yml
  apps/apps-backend/test/health.e2e-spec.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(wallet-dashboard): add receive popup
  apps/core/package.json
  apps/core/src/components/QR.tsx
  apps/wallet-dashboard/app/layout.tsx
  apps/wallet-dashboard/components/Dialogs/ReceiveFundsDialog.tsx
  apps/wallet-dashboard/components/Dialogs/index.ts
  apps/wallet-dashboard/components/account-balance/AccountBalance.tsx
  apps/wallet/package.json
  apps/wallet/src/ui/app/components/index.ts
  apps/wallet/src/ui/app/pages/home/tokens/ReceiveTokensDialog.tsx
  pnpm-lock.yaml
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

refactor: Remove global `exchange_rate` and `validators_apys_` caches in order to work with `cargo test`
  crates/iota-indexer/README.md
  crates/iota-indexer/src/apis/governance_api.rs
  crates/iota-indexer/tests/common/mod.rs
  crates/iota-indexer/tests/rpc-tests/extended_api.rs
  crates/iota-indexer/tests/rpc-tests/governance_api.rs
Due: none

chore(iota-types): Expand all type conversions
  Cargo.lock
  Cargo.toml
  crates/iota-types/src/authenticator_state.rs
  crates/iota-types/src/base_types.rs
  crates/iota-types/src/digests.rs
  crates/iota-types/src/effects/effects_v1.rs
  crates/iota-types/src/effects/mod.rs
  crates/iota-types/src/execution_status.rs
  crates/iota-types/src/iota_sdk2_conversions.rs
  crates/iota-types/src/messages_checkpoint.rs
  crates/iota-types/src/move_package.rs
  crates/iota-types/src/object.rs
  iota-execution/latest/iota-verifier/src/lib.rs
  iota-execution/latest/iota-verifier/src/verifier.rs
  iota-execution/v0/iota-verifier/src/lib.rs
  iota-execution/v0/iota-verifier/src/verifier.rs
Due: none

refactor(docs/advanced): Update links
  docs/content/developer/advanced/introducing-move-2024.mdx
Due: none

refactor: remove unnecessary useMemo
  apps/wallet-dashboard/app/(protected)/assets/page.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix(node): remove deprecated `VersionedDkgMessage::V0` and `VersionedDkgConfirmation::V0()`
  crates/iota-types/src/messages_consensus.rs
Due: none

fix(node): remove deprecated `VersionedUsedProcessedMessages::V0`
  crates/iota-core/src/epoch/randomness.rs
Due: none

fix(node): remove deprecated `CommittedSubDagShell`
  narwhal/types/src/consensus.rs
Due: none

fix(node): remove version from `AccumulateEpoch` monitored scope
  crates/iota-core/src/state_accumulator.rs
  crates/iota-e2e-tests/tests/traffic_control_tests.rs
Due: none

fix(node): fix versions in `IotaSystemState` enum
  crates/iota-e2e-tests/tests/protocol_version_tests.rs
  crates/iota-types/src/iota_system_state/mod.rs
  crates/iota-types/src/iota_system_state/simtest_iota_system_state_inner.rs
Due: none

fix(node): remove unused imports in simtests
  crates/iota-storage/tests/key_value_tests.rs
Due: none

feat: remove comment
  apps/wallet-dashboard/lib/utils/growthbook.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(apps-backend): revert hierarchy.
  .github/workflows/hierarchy.yml
Due: none

chore(ci): move `execution-cut` lower in the hierarchy
  .github/workflows/_rust.yml
Due: none

fix(codeowners): remove fijter
  .github/CODEOWNERS
Due: none

feat: add theme context
  apps/wallet-dashboard/app/(protected)/layout.tsx
  apps/wallet-dashboard/contexts/ThemeContext.tsx
  apps/wallet-dashboard/contexts/index.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat: use conetxt
  apps/wallet-dashboard/app/layout.tsx
  apps/wallet-dashboard/components/staking-overview/StartStaking.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat: align button
  apps/wallet/src/ui/app/shared/dapp-status/index.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat: refine button
  apps/wallet/src/ui/app/shared/dapp-status/index.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

styles: add margin
  apps/wallet-dashboard/components/Dialogs/ReceiveFundsDialog.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(iota-indexer): Add tests for CoinApi
  crates/iota-indexer/tests/data/dummy_modules_publish/Move.toml
  crates/iota-indexer/tests/data/dummy_modules_publish/sources/trusted_coin.move
  crates/iota-indexer/tests/rpc-tests/coin_api.rs
  crates/iota-indexer/tests/rpc-tests/main.rs
Due: none

Simplify `once_prepare_addr_with_iota_and_custom_coins`, reorder modules in main.rs
  crates/iota-indexer/tests/rpc-tests/coin_api.rs
  crates/iota-indexer/tests/rpc-tests/main.rs
Due: none

Fixes after rebase
  crates/iota-indexer/tests/rpc-tests/coin_api.rs
Due: none

Change return type of `once_prepare_addr_with_iota_and_custom_coins`
  crates/iota-indexer/tests/rpc-tests/coin_api.rs
Due: none

Rename helper test functions
  crates/iota-indexer/tests/rpc-tests/coin_api.rs
Due: none

fix(iota-types/gas): max_gas_price comparison
  crates/iota-types/src/gas.rs
  crates/transaction-fuzzer/src/account_universe/transfer_gen.rs
Due: none

Fix clippy
  crates/iota-indexer/tests/rpc-tests/coin_api.rs
  crates/iota-indexer/tests/rpc-tests/extended_api.rs
Due: none

fix(external-crates): corrected the move analyzer create.sh script
  external-crates/move/crates/move-analyzer/editors/code/scripts/create.sh
Due: none

fix(node): cyclic dependency
  Cargo.lock
  crates/iota-core/Cargo.toml
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/authority/transaction_deferral.rs
  crates/iota-core/src/connection_monitor.rs
  crates/iota-core/src/lib.rs
  crates/iota-metrics/Cargo.toml
  crates/iota-metrics/src/lib.rs
  crates/iota-metrics/src/metrics_network.rs
  crates/iota-node/src/lib.rs
  crates/iota-proc-macros/Cargo.toml
  crates/iota-proc-macros/src/lib.rs
Due: none

feat(apps-backend): remove DEPLOY_URL
  .github/workflows/apps_backend_deploy.yml
Due: none

feat: bump IOTA to v0.5.0-alpha
  Cargo.lock
  Cargo.toml
  crates/iota-open-rpc/spec/openrpc.json
  sdk/typescript/src/version.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

Path conditions:
  eslint -c ./linting/.eslintrc.precommit.js --fix: any of: {sdk,apps}/**/*.{ts,js,mjs,tsx}
  prettier --write: any of: {sdk,apps}/**/*.{ts,js,mjs,tsx,scss,css}
