Repository iotaledger/iota: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

.lintstagedrc.json:

{
    "{sdk,apps}/**/*.{ts,js,mjs,tsx}": "eslint -c ./linting/.eslintrc.precommit.js --fix",
    "{sdk,apps}/**/*.{ts,js,mjs,tsx,scss,css}": "prettier --write"
}

feat(apps-ui-kit): review apps and fix missing styles (#7376)
  apps/core/src/components/transaction/TransactionIcon.tsx
  apps/ui-kit/.storybook/preview-head.html
  apps/ui-kit/.storybook/preview.tsx
  apps/ui-kit/src/lib/components/atoms/badge/badge.classes.ts
  apps/ui-kit/src/lib/components/atoms/divider/divider.classes.ts
  apps/ui-kit/src/lib/components/atoms/key-value-info/KeyValueInfo.tsx
  apps/ui-kit/src/lib/components/atoms/radio-button/RadioButton.tsx
  apps/ui-kit/src/lib/components/atoms/tooltip/Tooltip.tsx
  apps/ui-kit/src/lib/components/molecules/input/input.classes.ts
  apps/ui-kit/src/lib/components/molecules/navbar-item/navbarItem.classes.ts
  apps/ui-kit/src/lib/components/molecules/search/Search.tsx
  apps/ui-kit/src/lib/components/molecules/search/search.classes.ts
  apps/ui-kit/src/lib/components/molecules/table-cell/TableCell.tsx
  apps/ui-kit/src/lib/components/molecules/table-header-cell/TableHeaderCell.tsx
  apps/ui-kit/src/lib/components/molecules/title/Title.tsx
  apps/ui-kit/src/lib/components/organisms/accordion/Accordion.tsx
  apps/ui-kit/src/lib/styles/base.css
  apps/ui-kit/src/lib/styles/components.css
  apps/ui-kit/src/lib/styles/fonts.css
  apps/ui-kit/src/lib/styles/index.css
  apps/ui-kit/src/storybook/stories/molecules/TableCell.stories.tsx
  apps/wallet/src/ui/app/components/menu/content/ThemeSettings.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fix lockfile
  pnpm-lock.yaml
Due: none

feat(apps-ui-kit): update storybook after multi-theme (#7377)
  apps/ui-kit/src/lib/styles/index.css
  apps/ui-kit/src/lib/tailwind/base.presets.ts
  apps/ui-kit/src/lib/tailwind/plugins.ts
  apps/ui-kit/src/storybook/stories/atoms/Skeleton.stories.tsx
  apps/ui-kit/src/storybook/stories/atoms/Tooltip.stories.tsx
  apps/ui-kit/src/storybook/stories/molecules/Account.stories.tsx
  apps/ui-kit/src/storybook/stories/molecules/Search.stories.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(tooling): update bridge after ui-kit multi-theme implementation (#7517)
  apps/evm-bridge/src/App.tsx
  apps/evm-bridge/src/components/deposit/DepositForm.tsx
  apps/evm-bridge/src/components/layout/Footer.tsx
  apps/evm-bridge/src/components/layout/Header.tsx
  apps/evm-bridge/src/components/link/Link.tsx
  apps/evm-bridge/src/components/svgs/DirectionalArrows.tsx
  apps/evm-bridge/src/components/wallet-connect-input/WalletConnectInputButton.tsx
  apps/evm-bridge/src/globals.css
  apps/explorer/src/pages/transaction-result/transaction-summary/ObjectChanges.tsx
  apps/ui-kit/src/lib/components/atoms/media-fallback/MediaFallback.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(apps-ui-kit): add iota names color variables to UI-KIT components (#7419)
  apps/ui-kit/src/lib/components/atoms/key-value-info/KeyValueInfo.tsx
  apps/ui-kit/src/lib/components/molecules/visual-asset-card/VisualAssetCard.tsx
  apps/ui-kit/src/lib/components/organisms/dialog/Dialog.tsx
  apps/ui-kit/src/lib/styles/base.css
  apps/ui-kit/src/lib/styles/components.css
  apps/ui-kit/src/lib/styles/index.css
  pnpm-lock.yaml
  sdk/isc-sdk/examples/L1AddressL2funds.ts
  sdk/isc-sdk/examples/anchor.ts
  sdk/isc-sdk/examples/assetsBag.ts
  sdk/isc-sdk/examples/tokens.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(apps-ui-kit): update error message styles in Input, Select, and TextArea components (#7446)
  apps/ui-kit/src/lib/components/atoms/secondary-text/SecondaryText.tsx
  apps/ui-kit/src/lib/components/molecules/input/InputWrapper.tsx
  apps/ui-kit/src/lib/styles/index.css
  apps/ui-kit/src/storybook/stories/molecules/TextArea.stories.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

feat(apps-ui-kit): improve ui-kit styles after multitheme (#7480)
  apps/ui-kit/.storybook/preview.tsx
  apps/ui-kit/src/lib/components/atoms/button/button-variants/ButtonPill.tsx
  apps/ui-kit/src/lib/components/atoms/button/button.classes.ts
  apps/ui-kit/src/lib/components/atoms/checkbox/Checkbox.tsx
  apps/ui-kit/src/lib/components/atoms/info-box/InfoBox.tsx
  apps/ui-kit/src/lib/components/molecules/input/input.classes.ts
  apps/ui-kit/src/lib/styles/base.css
  apps/ui-kit/src/lib/styles/components.css
  apps/ui-kit/src/lib/styles/index.css
  pnpm-lock.yaml
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

update changeset
  .changeset/quick-insects-buy.md
Due: none

fixup! chore: add dev-nodebug cargo profile
  Cargo.toml
Due: none

upstream(indexer): Do not prune epochs table
  crates/iota-indexer/src/store/pg_indexer_store.rs
Due: none

fix(docs): minor classname fix applied
  docs/site/src/pages/index.js
Due: none

test: use start time of transactions
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/authority/suggested_gas_price_calculator.rs
Due: none

chore(ui-kit,explorer,core): update old classes after multi-theme
  apps/core/src/components/address-alias/AddressAlias.tsx
  apps/explorer/src/components/ui/InternalLink.tsx
  apps/explorer/src/components/ui/ObjectVideoImage.tsx
  apps/explorer/src/pages/object-result/views/ObjectView.tsx
  apps/ui-kit/src/storybook/blocks/Showcase.tsx
  apps/ui-kit/src/storybook/blocks/TypeSetItem.tsx
  apps/ui-kit/src/storybook/stories/components/VariableSpacingShowcase.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

chore(ui-kit,explorer,core): update old classes after multi-theme (#7540)
  apps/core/src/components/address-alias/AddressAlias.tsx
  apps/explorer/src/components/ui/InternalLink.tsx
  apps/explorer/src/components/ui/ObjectVideoImage.tsx
  apps/explorer/src/pages/object-result/views/ObjectView.tsx
  apps/ui-kit/src/storybook/blocks/Showcase.tsx
  apps/ui-kit/src/storybook/blocks/TypeSetItem.tsx
  apps/ui-kit/src/storybook/stories/components/VariableSpacingShowcase.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

chore(apps-ui-kit): update caret color in dark and names themes
  apps/ui-kit/src/lib/styles/index.css
Due: prettier --write

chore(apps-ui-kit): review ui components after multi theme (#7542)
  apps/ui-kit/src/lib/styles/index.css
Due: prettier --write

another batch
  Cargo.lock
  crates/iota-aws-orchestrator/Cargo.toml
  crates/iota-benchmark/Cargo.toml
  crates/iota-move/Cargo.toml
  crates/iota-transaction-checks/Cargo.toml
Due: none

upstream(core): Fix bug in object_by_id_cache
  crates/iota-core/src/execution_cache/cache_types.rs
  crates/iota-core/src/execution_cache/metrics.rs
  crates/iota-core/src/execution_cache/unit_tests/writeback_cache_tests.rs
  crates/iota-core/src/execution_cache/writeback_cache.rs
Due: none

fix(starfish): Fix data manager and related tests (#7339)
  crates/starfish/core/src/block_header.rs
  crates/starfish/core/src/commit_observer.rs
  crates/starfish/core/src/dag_state.rs
  crates/starfish/core/src/data_manager.rs
  crates/starfish/core/src/storage/mod.rs
  crates/starfish/core/src/storage/rocksdb_store.rs
  crates/starfish/core/src/storage/store_tests.rs
  crates/starfish/core/src/test_dag_builder.rs
  crates/starfish/core/src/test_dag_parser.rs
Due: none

upstream: remove unsupported events filters
  crates/iota-core/src/authority.rs
  crates/iota-e2e-tests/tests/sdk_stream_tests.rs
  crates/iota-indexer/src/indexer_reader.rs
  crates/iota-indexer/tests/rpc-tests/indexer_api.rs
  crates/iota-json-rpc-tests/tests/indexer_api.rs
  crates/iota-json-rpc-types/src/iota_event.rs
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-sdk/examples/event_api.rs
  crates/iota-sdk/src/apis/event.rs
  docs/content/developer/iota-101/using-events.mdx
Due: none

feat: first release, move tests FAILS
  crates/iota-framework/packages/iota-framework/sources/deterministic_object_id.move
  crates/iota-framework/packages/iota-framework/sources/object.move
  crates/iota-framework/packages/iota-framework/sources/tx_context.move
  crates/iota-framework/packages/iota-framework/tests/deterministic_object_id_tests.move
  crates/iota-types/src/base_types.rs
  iota-execution/latest/iota-move-natives/src/deterministic_object_id.rs
  iota-execution/latest/iota-move-natives/src/lib.rs
Due: none

fix(*): Fix or ignore clippy's `large_enum_variant` and `result_large_err` lints
  .clippy.toml
  consensus/core/src/storage/store_tests.rs
  crates/iota-benchmark/src/lib.rs
  crates/iota-config/src/node.rs
  crates/iota-core/src/authority_aggregator.rs
  crates/iota-core/src/checkpoints/mod.rs
  crates/iota-core/src/consensus_handler.rs
  crates/iota-core/src/transaction_orchestrator.rs
  crates/iota-graphql-rpc-client/src/response.rs
  crates/iota-graphql-rpc-client/src/simple_client.rs
  crates/iota-graphql-rpc/src/types/dynamic_field.rs
  crates/iota-graphql-rpc/src/types/object.rs
  crates/iota-json-rpc-types/src/iota_object.rs
  crates/iota-replay/src/data_fetcher.rs
  crates/iota-replay/src/fuzz.rs
  crates/iota-replay/src/types.rs
  crates/iota-storage/src/lib.rs
  crates/iota-test-transaction-builder/src/lib.rs
  crates/iota-types/src/messages_grpc.rs
  crates/iota/src/client_commands.rs
  crates/iota/src/client_ptb/ptb.rs
  crates/iota/src/keytool.rs
  crates/iota/src/name_commands.rs
  crates/iota/tests/cli_tests.rs
  rust-toolchain.toml
Due: none

change dockerfile
  scripts/generate_files/Dockerfile
Due: none

refactor: Replace `query_transaction_blocks_v1` usages with `query_transaction_blocks_v2`
  crates/iota-indexer/tests/rpc-tests/indexer_api.rs
  crates/iota-json-rpc-tests/tests/indexer_api.rs
  crates/iota-json-rpc-types/src/iota_transaction.rs
  crates/iota-sdk/src/apis/read.rs
Due: none

refactor: Fix missed lints
  crates/iota-indexer/tests/rpc-tests/indexer_api.rs
Due: none

add metric for received headers from bundle and some more TODOs
  crates/starfish/core/src/authority_service.rs
  crates/starfish/core/src/metrics.rs
Due: none

Refactoring: withdraw returns coin to operate it separately, smart contract receives coin via recieve mechanism, function for deleting smart contract has been added
  account_abstraction/aa_move/README.md
  account_abstraction/aa_move/sources/account_abstraction.move
  account_abstraction/aa_move/sources/tx_flow.move
  account_abstraction/aa_rust_sdk_flow/src/main.rs
  account_abstraction/aa_rust_sdk_flow/src/sig_utils.rs
  account_abstraction/aa_rust_sdk_flow/src/smart_account.rs
  account_abstraction/aa_rust_sdk_flow/src/tx_flow.rs
  account_abstraction/aa_rust_sdk_flow/src/utils.rs
Due: none

refactor: Consolidate wrapped or deleted GraphQL e2e tests
  crates/iota-graphql-e2e-tests/tests/transactions/filters/wrapped_or_deleted.move
  crates/iota-graphql-e2e-tests/tests/transactions/filters/wrapped_or_deleted.snap
  crates/iota-graphql-e2e-tests/tests/transactions/filters/wrapped_or_deleted/create_and_immediate_wrap.move
  crates/iota-graphql-e2e-tests/tests/transactions/filters/wrapped_or_deleted/create_and_immediate_wrap.snap
  crates/iota-graphql-e2e-tests/tests/transactions/filters/wrapped_or_deleted/unwrap_then_delete.move
  crates/iota-graphql-e2e-tests/tests/transactions/filters/wrapped_or_deleted/unwrap_then_delete.snap
  crates/iota-graphql-e2e-tests/tests/transactions/filters/wrapped_or_deleted/wrap_and_delete.move
  crates/iota-graphql-e2e-tests/tests/transactions/filters/wrapped_or_deleted/wrap_and_delete.snap
Due: none

refactor: Use query_transaction_blocks_v2 RPC directly in iota-sdk
  crates/iota-sdk/src/apis/read.rs
Due: none

feat: implement accurate calculations for new sequencer
  crates/iota-core/src/authority/suggested_gas_price_calculator.rs
Due: none

refactor: Keep IotaClient V1 usages
  crates/iota-indexer/tests/rpc-tests/indexer_api.rs
  crates/iota-json-rpc-tests/tests/indexer_api.rs
Due: none

upstream(core): Remove test-utils feature (#7453)
  crates/iota-core/Cargo.toml
  crates/iota-core/src/authority.rs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/consensus_handler.rs
  crates/iota-core/src/lib.rs
  crates/iota-single-node-benchmark/Cargo.toml
  crates/iota-transactional-test-runner/Cargo.toml
  crates/iota-types/src/zk_login_authenticator.rs
  crates/test-cluster/Cargo.toml
  crates/transaction-fuzzer/Cargo.toml
Due: none

fix(dashboard): update incorrect className
  apps/wallet-dashboard/components/Banner.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fmt
  apps/explorer/src/components/object/UnderlyingObjectCard.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

fmt
  sdk/graphql-transport/src/methods.ts
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

refactor(indexer): revise rolling::Extractor
  crates/iota-indexer/src/rolling/extract.rs
Due: none

fix formt
  apps/core/src/components/Banner.tsx
  apps/wallet/src/ui/app/components/accounts/OffBalanceAddressesInfo.tsx
  apps/wallet/src/ui/app/pages/accounts/manage/accounts-finder/AccountsFinderView.tsx
  apps/wallet/src/ui/app/pages/home/tokens/MigrationDialog.tsx
  apps/wallet/src/ui/app/pages/home/tokens/MissingFundsDialog.tsx
  apps/wallet/src/ui/app/pages/home/tokens/OverviewHint.tsx
  apps/wallet/src/ui/app/pages/home/tokens/SupplyIncreaseVestingStakingDialog.tsx
Due: eslint -c ./linting/.eslintrc.precommit.js --fix, prettier --write

upstream(node): Reduce max transactions per block in simtests (#7486)
  crates/iota-protocol-config/src/lib.rs
Due: none

fix(rpc): Allow direct access to the old methods
  crates/iota-json-rpc-tests/tests/routing_tests.rs
  crates/iota-json-rpc/src/routing_layer.rs
Due: none

review
  crates/iota-light-client/src/bin/update_fixtures.rs
  crates/iota-light-client/src/verifier.rs
  crates/iota-light-client/tests/README.md
  crates/iota-light-client/tests/check_proof.rs
  crates/iota-light-client/tests/fixtures/366216.chk
  crates/iota-light-client/tests/fixtures/366216.sum
  crates/iota-light-client/tests/fixtures/4.chk
  crates/iota-light-client/tests/fixtures/4.sum
  crates/iota-light-client/tests/fixtures/412056.chk
  crates/iota-light-client/tests/fixtures/412056.sum
  crates/iota-light-client/tests/fixtures/744641.chk
  crates/iota-light-client/tests/fixtures/744641.sum
  crates/iota-light-client/tests/fixtures/checkpoints.yaml
Due: none
